@import '@/styles/color';
@import '@/styles/token';

.container {
  height: 100%;
  padding-top: 50px;
  background-color: @WHITE;
  overflow: hidden;

  .footer {
    padding: 24px 16px;
    text-align: right;
  }
}
