@import '@/styles/color';

.container {
  margin: 8px 0 8px 8px;
  border-radius: 14px;
  border: 1px solid @BLANK01;
  overflow: hidden;
  background-color: @WHITE;
}

.first-menus {
  border-right: 1px solid @BLANK01;
}

.nav-menus {
  width: 200px;
}
