@import '@/styles/token.less';

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.layout-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex: 1;
  min-height: 0;

  .detail-section {
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
