@import '@/styles/color';

.container {
  width: 100%;
  background-color: @WHITE;
  border-radius: 8px;
  padding: 20px 20px 16px;
  border: 1px solid @BLANK01;

  .header {
    gap: 16px;

    .a-logo {
      border-radius: 8px;
      width: 64px;
      height: 64px;
      border: 1px solid @WHITE08;
      background: @WHITE08;
    }

    .info-container {
      .a-name {
        height: 24px;
        line-height: 24px;
        font-size: 18px;
        font-weight: 600;
        color: @BLANK08;
      }

      .info-author {
        height: 26px;
        font-size: 12px;
        gap: 6px;

        .avatar {
          width: 14px;
          height: 14px;
          border-radius: 50%;
        }

        .author {
          color: @BLANK04;
        }

        .nickname {
          color: @GRAY07;
        }
      }
    }

    .desc {
      height: 60px;
      margin-top: 4px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: @BLANK07;
    }
  }

  .divider-horizontal {
    margin-top: 20px;
    margin-bottom: 16px;
    border-bottom: 0.5px solid @WHITE08;
  }

  .footer {
    gap: 16px;

    .left {
      gap: 8px;

      .text {
        max-width: 60px;
        font-size: 12px;
        line-height: 16px;
        color: @BLANK06;
        gap: 4px;
      }
    }

    .right {
      margin-left: auto;
      font-size: 12px;
      font-weight: 400;
      color: @BLANK06;
    }
  }
}
