@import '@/styles/color';

.container {
  padding: 8px 20px;

  .inner-container {
    margin-top: 30px;
    border: 1px solid @GRAY01;
  }
}

.inputSearch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 42px;
}
