@import '@/styles/color';

.container {
  overflow: hidden;

  .inner-container {
    border: 1px solid @GRAY01;
  }

  .inputSearch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
  }
}
