@import '@/styles/color';

.row {
  gap: 10px;
  height: 40px;
  padding: 0 5px;
  margin-bottom: 5px;
  border-radius: 6px;
  font-size: 14px;
  cursor: default;
  transition: background-color 0.3s;

  &:hover {
    background-color: @GRAY01;
  }

  &.active {
    background-color: @GRAY01;
  }

  .icon-box {
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  h4 {
    flex: 1;
  }

  .icon-dropdown {
    font-size: 12px;
  }
}
