@import '@/styles/color';

.row {
  gap: 6px;
  height: 32px;
  padding: 0 5px;
  margin-bottom: 5px;
  font-size: 14px;
  cursor: default;

  &.active {
    background-color: #f2f3f5;
  }

  .icon-box {
    width: 16px;
    height: 16px;
  }

  .title {
    font-weight: normal;
    color: #3d3d3d;
  }

  .icon-dropdown {
    font-size: 12px;
  }
}
