@import '@/styles/color';

.row {
  gap: 6px;
  height: 32px;
  padding: 0 5px;
  margin-bottom: 5px;
  font-size: 14px;
  cursor: default;

  &.active {
    background-color: @WHITE18;
  }

  .icon-box {
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  .icon-dropdown {
    font-size: 12px;
  }
}
