@import '@/styles/color';

.container {
  position: sticky;

  .chat-container {
    gap: 12px;
    padding: 10px 16px;
    border: 1px solid @GRAY01;
    border-radius: 20px;

    .clear {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: @GRAY05;
      border: 1px solid @GRAY01;

      &.disabled {
        cursor: not-allowed;
        color: @BLANK25;
        background-color: @BLANK12;
      }
    }

    .chat-input {
      gap: 8px;

      .input {
        flex: 1;
        line-height: 24px;
        caret-color: @BLUE10;
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        resize: none;
        color: @BLANK08;
      }

      :global {
        .ant-input:focus {
          border: none;
          box-shadow: none;
        }
      }

      .icon-box {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: @WHITE01;
      }

      .add-file {
        font-size: 20px;
        color: @BLANK05;
      }

      .send-image {
        width: 30px;
      }
    }
  }

  .chat-action {
    position: absolute;
    width: 100%;
    top: 0;
    max-width: 800px;

    .to-bottom {
      width: 44px;
      height: 44px;
      position: absolute;
      bottom: 24px;
      border: 1px solid @BLANK25;
      background-color: @WHITE;
      border-radius: 50%;
      cursor: pointer;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      align-items: center;
      font-size: 20px;
      justify-content: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 25%);
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

      &.visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
