@import '@/styles/color';

.footer {
  gap: 12px;
  padding: 10px 16px;
  border: 1px solid @GRAY01;
  border-radius: 20px;

  .clear {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: @GRAY05;
    border: 1px solid @GRAY01;
  }

  .chat-input {
    gap: 8px;

    .input {
      flex: 1;
      border: none;
      background-color: transparent;
    }

    :global {
      .ant-input:focus {
        border: none;
        box-shadow: none;
      }
    }

    .icon-box {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: @WHITE01;
    }

    .add-file {
      font-size: 20px;
      color: @BLANK05;
    }

    .send-image {
      width: 30px;
    }
  }
}
