@import '@/styles/color';

.container {
  position: sticky;
  top: 0;
  right: 0;
  width: 357px;
  height: calc(100% - 40px);
  margin-top: 20px;
  margin-right: 20px;
  padding: 0 20px;
  background-color: @WHITE;
  border-radius: 10px;

  .sidebar-content {
    padding: 70px 0 30px;
    box-shadow: 0 0.5px 0 @GRAY19;

    .avatar {
      width: 90px;
      height: 90px;
      border-radius: 10px;
      user-select: none;
    }

    .title {
      margin: 25px 0;
      font-size: 18px;
      font-weight: bold;
      color: #636466;
      text-align: center;
    }

    .content {
      width: 100%;
      padding: 16px 10px;
      border-radius: 10px;
      background: #fcfcff;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0;
      color: #767676;
      text-align: center;
    }

    .from {
      height: 22px;
      line-height: 22px;
      padding: 0 40px;
      margin: 10px 0;
      font-size: 14px;
      font-weight: bold;
      color: #bababe;
      text-align: center;
    }

    .action-box {
      gap: 10px;
      font-size: 20px;

      .collected {
        color: @YELLOW01;
      }

      .un-collect {
        color: @GRAY05;
      }
    }
  }
}
