@import '@/styles/color';

.container {
  position: sticky;
  top: 0;
  right: 0;
  width: 357px;
  height: calc(100% - 40px);
  margin-top: 20px;
  margin-right: 20px;
  padding: 0 20px;
  background-color: @WHITE;
  border-radius: 10px;
}
