@import '@/styles/color';
@import '@/styles/token';

.container {
  height: 32px;
  color: @colorTextDescription;
  font-size: @fontSizeSm;

  .elapsed-time {
    gap: 12px;

    .vertical-line {
      width: 1px;
      height: 12px;
      background-color: @GRAY05;
    }
  }

  .more-action {
    gap: 6px;

    .icon {
      width: 24px;
      height: 24px;
      font-size: 14px;
      color: @GRAY05;
    }
  }
}

.copy-image {
  width: 16px;
  height: 16px;
}
