@import '@/styles/token.less';

.file-tree-view {
  width: 260px;
  min-height: 0;
  border-right: 1px solid @colorSplit;
  overflow: auto;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out,
    border-right 0.3s ease-in-out;
  position: relative;
  flex-shrink: 0;
}

.file-tree-view-hidden {
  width: 0;
  opacity: 0;
  pointer-events: none;
  border-right: none;
}

.file-tree-view-visible {
  width: 260px;
  opacity: 1;
  pointer-events: auto;
  border-right: 1px solid @colorSplit;
}

.content-container {
  flex: 1;
  background: @colorBgContainer;
  overflow-y: auto;
  position: relative;
}

// 全屏 Modal 样式
.fullscreen-modal {
  :global(.ant-modal-content) {
    height: 100vh;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  :global(.ant-modal-body) {
    flex: 1;
    overflow: hidden;
    padding: 0;
  }
}

// 全屏容器样式
.fullscreen-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: @colorBgContainer;
}

// 全屏内容样式
.fullscreen-content {
  flex: 1;
  background: @colorBgContainer;
  min-height: 0;
  overflow-y: auto;
}

.vnc-preview {
  border: none !important;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 70%);
  color: #fff;
  z-index: 10;
}

.loading-text {
  margin-top: 16px;
  font-size: 14px;
}
