@import '@/styles/token.less';

.file-tree-view {
  width: 260px;
  overflow: auto;
  padding: 8px;
  min-height: 0;
  border-right: 1px solid @colorBorder;
}

.content-container {
  flex: 1;
  height: 100%;
  min-height: 400px;
  background: @colorBgContainer;
  overflow: hidden;
}
