.add-button-style {
  margin-bottom: -10px;
}

.edit-table {
  min-width: 1220px;

  .ant-table-cell-with-append {
    display: flex;
    align-items: center;

    .ant-table-row-expand-icon {
      margin-top: 0;
    }
  }

  .ant-table-wrapper .ant-table {
    background: none !important;
  }

  .ant-table-row {
    td {
      padding: 11px 16px !important;
    }
  }

  .ant-input-number {
    width: 100%;
  }

  .ant-picker {
    width: 100%;
  }
}
