@import '@/styles/color';

.container {
  width: 320px;
  padding: 16px 10px;
  border-right: 1px solid @GRAY01;

  .search-icon {
    color: @GRAY05;
  }

  .document-title {
    line-height: 40px;
    padding: 0 10px;
    color: @GRAY05;
    font-size: 14px;
  }
}
