@import '@/styles/token';

.header {
  background-color: transparent;

  :global {
    .ant-collapse-header {
      padding: @paddingXs !important;

      &:hover {
        background-color: @colorFillTertiary;
        // border-radius: @borderRadius;
        background-color: transparent;

        .ant-collapse-header-text {
          color: @colorTextSecondary;
        }
      }
    }

    .ant-collapse-header-text {
      font-weight: @fontWeightStrong;
    }
  }
}
