@import '@/styles/color';

.container {
  padding: 26px;

  .title {
    font-size: 18px;
    font-weight: bold;
    color: @BLANK04;
  }

  .select-search-area {
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;

    .input {
      margin-left: auto;
      width: 200px;
      height: 32px;
    }
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
  }

  @media (min-width: 1200px) {
    .main-container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (min-width: 1440px) {
    .main-container {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .no-data {
    color: @BLANK05;
    padding-top: 50px;
  }
}
