@import '@/styles/token';

@logoSize: 40px;
@logoPosition: 40px;
@logoBorderRadius: 10px;
@logoZIndex: 10;
@titleFontSize: 32px;
@subTitleLineHeight: 24px;
@subTitleMarginTop: 28px;
@containerPaddingTop: 100px;
@containerPaddingBottom: 100px;
@boxMaxWidth: 540px;
@contentPadding: @paddingMd;
@subTitleFontSize: @fontSizeLg;

.container {
  background-image: @backgroundImage;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  // 左侧盒子
  .left-box {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center; /* 水平居中 */
    overflow-y: auto;

    .logo {
      position: absolute;
      left: @logoPosition;
      top: @logoPosition;
      width: @logoSize;
      height: @logoSize;
      border-radius: @logoBorderRadius;
      z-index: @logoZIndex;
    }

    .left-title-box {
      margin: auto 0;
      width: 100%; /* 宽度自适应 */
      max-width: @boxMaxWidth; /* 最大宽度 */
      padding: @containerPaddingTop @contentPadding @containerPaddingBottom;
      box-sizing: border-box;
      color: @navFirstMenuText;
      font-size: @titleFontSize;
      font-style: normal;
      font-weight: @fontWeightStrong;
      line-height: @lineHeightLg;
      text-align: justify;
      word-break: break-all;

      .title {
        font-weight: @fontWeightStrong;
      }

      .sub-title {
        margin-top: @subTitleMarginTop;
        font-size: @subTitleFontSize;
        font-style: normal;
        font-weight: @fontWeightStrong;
        line-height: @subTitleLineHeight;
        opacity: 0.6;
      }
    }
  }

  // 右侧盒子
  .right-box {
    flex: 1;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    padding: 48px 64px;
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .container {
    .left-box {
      display: none;
    }
  }
}
