@import '@/styles/color';

.title {
  padding-left: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
  color: @GRAY05;
}

.row {
  height: 30px;
  padding: 0 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  opacity: 1;
  gap: 10px;

  &.active {
    background: @WHITE18;
  }

  .text {
    font-size: 14px;
    font-weight: bold;
    color: @BLANK04;
  }
}
