@import '@/styles/color';
@import '@/styles/token';

.workflow-desc {
  width: 100%;
  margin-top: 10px;
  height: 56px;
  color: #999;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
