@import '@/styles/color';

.container {
  width: 560px;
  border-radius: 10px !important;
  background-color: @WHITE12 !important;

  .header {
    background-color: @WHITE12 !important;
  }

  .body {
    padding-top: 36px !important;
  }

  .sub-title {
    font-size: 14px;
    color: @BLUE02;
  }

  .box {
    line-height: 22px;
    padding: 10px 8px;
    margin: 10px 0 20px;
    color: @GRAY07;
    font-size: 12px;
    border-radius: 5px;
    background: @WHITE;
    box-sizing: border-box;
    border: 1px solid @WHITE15;
  }
}
