@import '@/styles/color';

.header {
  width: 330px;
}

.row-line {
  height: 2px;
  margin: 20px 0;
  background-color: @GRAY04;
}

.label {
  display: inline-block;
  font-weight: 600;
}

.box {
  height: 40px;
  margin: 5px 0 16px;
  padding: 0 10px;
  gap: 10px;
  border-radius: 6px;
  background-color: @WHITE08;

  .img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .selected-ico {
    color: @GRAY07;
  }
}
