@import '@/styles/color';

.icon-box {
  width: 26px;
  height: 26px;
  margin-inline-start: 6px;
  border-radius: 6px;
  background-color: @BLANK18;
  color: @BLANK05;
  cursor: pointer;

  &.collected {
    color: @YELLOW01;
  }
}
