@import '@/styles/color';

.header {
  gap: 10px;
  height: 72px;
  padding: 0 30px;
  color: @BLANK11;
  font-size: 14px;
  border-bottom: 1px solid @GRAY01;

  .file-name {
    width: 60%;
  }

  .extra-box {
    margin-left: auto;

    .switch-name {
      margin-right: 10px;
      color: @GRAY05;
    }

    .del {
      margin-left: 30px;
      font-size: 18px;
    }
  }
}

.segment-box {
  color: @BLANK;
  font-size: 14px;
}

.line {
  line-height: 22px;
  padding: 8px 10px;
  margin-bottom: 8px;
  font-size: 14px;
  color: @BLANK11;
  border: 1px solid @BLANK01;
  background-color: @BLANK27;
  word-break: break-word;

  &:last-child {
    margin-bottom: 0;
  }
}
