@import '@/styles/color';
@import '@/styles/token';

.no-dev-collect {
  padding: 0 @paddingXs;
  font-size: @fontSizeSm;
  line-height: @fontHeight;
  color: @navSecondMenuTextSecondary;
  opacity: 0.5; // TODO 这个需要给UI确认
}
