@import '@/styles/color';

.container {
  width: 120px;

  .option-icon-box {
    width: 20px;
    height: 20px;

    .icon {
      color: @BLUE03;
    }
  }

  .image {
    width: 18px;
    height: 18px;
    object-fit: cover;
  }
}
