@import '@/styles/color';

.container {
  position: absolute;
  left: 70px;
  bottom: 20px;
  width: 113px;
  height: 110px;
  z-index: 1000;
  border: 1px solid @BLANK01;
  visibility: hidden;
  transition: visibility 0.3s;
  border-radius: 8px;
  background-color: @WHITE;
}

.visible {
  visibility: visible;
}
