@import "@/styles/color";

.container {
  position: absolute;
  left: 70px !important;

  .segment {
    width: 50%;
  }

  .del-disabled {
    color: @GRAY04;
  }
}

.message-list {
  width: 500px;
  height: 500px;
}