@import '@/styles/color';

.container {
  padding: 16px 20px;
  border: 1px solid @GRAY06;
  border-radius: 6px;

  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  .box {
    margin-left: 10px;

    h3 {
      margin-bottom: 6px;
      font-weight: bold;
      font-size: 14px;
    }

    p {
      line-height: 20px;
      color: @GRAY05;
      font-size: 14px;
    }
  }
}
