@import '@/styles/color';

.container {
  padding-top: 50px;

  .params-td {
    width: 200px;

    .params-name {
      color: @BLANK15;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }

    .desc {
      color: @BLANK16;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .select {
    width: 100%;
  }
}
