@import '@/styles/color';

.card-box {
  position: relative;
  margin-bottom: 16px;
  border: 1px solid @GRAY06;
  border-radius: 6px;
  background-color: @WHITE;

  img {
    width: 100%;
    height: 110px;
  }

  .radio {
    position: absolute;
    top: 6px;
    right: 6px;
  }
}
