@import '@/styles/color';
@import '@/styles/token';

.container {
  height: 100%;
  padding: 50px @paddingLg @paddingLg;
  padding-left: @paddingMd;
  background-color: @WHITE;
  overflow: hidden;

  .formItem {
    margin-bottom: @marginMd;
  }

  .label {
    margin-bottom: 10px;
    color: @BLANK04;
    font-weight: @fontWeightStrong;
  }

  .footer {
    text-align: right;
  }
}
