@import '@/styles/color';
@import '@/styles/token';

.listTitle {
  margin-bottom: 16px !important;
  font-weight: @fontWeightStrong !important;
  color: @GRAY03;
}

.cardCol {
  margin-bottom: 16px;
}

.emptyContainer {
  margin: 32px 0;
  padding: 24px;
  background-color: @GRAY09;
  border-radius: 8px;
}
