@import '@/styles/color';

.bind-box {
  height: 62px;
  border-radius: 6px;
  background: @GRAY09;
  font-size: 14px;
  color: @GRAY07;

  .component-image {
    gap: 10px;
    width: 20px;
    height: 20px;
  }
}

.example-box {
  padding: 10px 20px;
  border-radius: 6px;
  background: @WHITE20;
  box-sizing: border-box;
  border: 1px solid @WHITE15;
  line-height: 22px;
  color: @BLANK04;
  font-weight: 400;
  font-size: 12px;

  .e-header {
    height: 30px;
    font-size: 14px;
  }

  .icon {
    transform: rotate(-90deg);
    transition: all 0.3s ease;

    &.icon-rotate {
      transform: rotate(0);
    }
  }

  .rotate-box {
    height: 0;
    overflow: hidden;
  }
}
