@import '@/styles/color';
@import '@/styles/token';

.container {
  padding: 16px 16px 16px 24px;

  .header-area {
    margin-bottom: 5px;
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
    align-content: start;
    margin-top: 10px;
  }

  @media (min-width: 1440px) {
    .main-container {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
