.clickableElement {
  cursor: pointer;
  line-height: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
}

.editableTitleInput {
  font-size: 12px;
  height: 24px;

  // background-color: red;
}
