@import '@/styles/color';

.system-tips {
  font-size: 14px;
  font-weight: bold;
  color: @BLANK04;
}

.optimize-btn {
  height: 30px;
  background-color: @GRAY03; /* 修改背景颜色 */
  color: @BLUE01; /* 修改文本颜色 */
  border: none;
}
