@import '@/styles/token.less';

.my-orders-container {
  padding-top: @paddingSm;
}

.total-count {
  display: flex;
  align-items: center;
  gap: 6px;
  color: @colorTextSecondary;
  font-size: @fontSizeSm;

  .count-number {
    color: @colorPrimary;
    font-weight: 600;
    font-size: @fontSize;
  }
}
