@import '@/styles/color';

.test-run-style {
  position: absolute;
  top: 60px;
  right: 10px;
  bottom: 10px;
  width: 370px;
  border-radius: 10px;
  background: @WHITE;
  // background: skyblue;
  z-index: 199;
  padding: 0 20px;

  .test-run-header {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid @GRAY04;
    margin-bottom: 16px;
  }
}

.test-run-content-label {
  font-family: 'Alimama Agile VF';
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0;
}

.selectItem {
  width: 340px;
}
