@import '@/styles/color';

.test-run-style {
  position: absolute;
  top: 74px;
  right: 10px;
  bottom: 10px;
  width: 370px;
  border-radius: 15px;
  //background: @WHITE;
  z-index: 199;
  // padding-top: 100px;
  background-color: rgba(0, 0, 0, 10%);

  .test-content-style {
    background-color: @WHITE;
    height: 100%;
    padding: 0 20px 20px;
    width: 100%;
    border-radius: 10px;
  }

  .test-run-header {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid @GRAY04;
    margin-bottom: 16px;
  }
}

.test-run-content-label {
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0;
}

.selectItem {
  width: 340px;
}

.collapse-title-style {
  font-weight: 600;
  color: @BLANK14;
  margin-bottom: 10px;
}

.collapse-item-style {
  overflow-y: auto;

  .ant-collapse-header {
    padding: 0;
  }

  .ant-collapse-content-box {
    padding-block: 0 !important;
    padding: 0 16px !important;
  }

  .test-run-form {
    .ant-form-item {
      margin-bottom: 2px;

      .ant-form-item-label {
        margin-bottom: 4px;
        padding: 0;
      }
    }
  }
}

.result-style {
  background-color: @BLANK12;
  border-radius: 6px;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.border-bottom {
  border-bottom: 1px solid @GRAY;
}

.ant-collapse-header {
  padding: 0 16px;
}

.ant-input-prefix {
  color: @BLUE03;
}

.stop-wait-header {
  width: 100%;
  background-color: #e6e9ff;
  padding: 10px 0;
  margin-bottom: 10px;
}

.bubble-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  // margin-top: 20px;
}

.ant-bubble-content {
  width: 100%;
  padding: 10px 0 10px 10px;
}

.qa-question-style {
  padding: 10px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;

  .ant-prompts-title {
    font-weight: 550;
    font-size: 18px;
  }

  .ant-prompts-item {
    width: 100%;
  }
}
