@import '@/styles/color';

.test-run-style {
  position: absolute;
  top: 90px;
  right: 10px;
  bottom: 10px;
  width: 360px;
  border-radius: 15px;
  //background: @WHITE;
  z-index: 199;
  // padding-top: 100px;
  background-color: rgba(0, 0, 0, 10%);

  .test-content-style {
    background-color: @WHITE;
    height: 100%;
    padding: 0 20px 20px;
    width: 100%;
    border-radius: 10px;
  }

  .test-run-header {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid @GRAY04;
    margin-bottom: 16px;
  }
}

.test-run-content-label {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0;
}

.selectItem {
  width: 340px;
}

.collapse-title-style {
  font-weight: 600;
  color: @BLANK14;
  margin-bottom: 10px;
}

.result-style {
  background-color: @WHITE16;
  border-radius: 6px;
  min-height: 200px;
  padding: 10px;
}

.border-bottom {
  border-bottom: 1px solid @GRAY;
}

.ant-collapse-header {
  padding: 0 16px;
}

.ant-collapse-content-box {
  padding-block: 0;
  padding: 10px 16px;
}

.ant-input-prefix {
  color: @BLUE03;
}
