@import '@/styles/color';

.container {
  height: 32px;
  color: @GRAY05;
  font-size: 12px;

  .elapsed-time {
    gap: 12px;

    .vertical-line {
      width: 1px;
      height: 12px;
      background-color: @GRAY05;
    }
  }

  .more-action {
    gap: 10px;

    .icon {
      width: 24px;
      height: 24px;
    }

    .del {
      color: @RED;
    }
  }
}
