@import '@/styles/token.less';

.sidebar-container {
  height: 100%;

  :global {
    .ant-spin-nested-loading {
      height: 100%;
    }

    .ant-spin-container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

.selection-header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  // 移出链接按钮的右侧默认填充，使其与卡片右侧边缘完美对齐
  :global(.ant-btn) {
    padding-right: 0;
  }
}
