@import '@/styles/color';

.row {
  padding: 6px 8px;
  gap: 10px;

  &:hover {
    .icon {
      visibility: visible;
    }
  }

  img {
    width: 16px;
    height: 16px;
    border-radius: 4px;
  }

  .name {
    font-size: 14px;
    line-height: 22px;
    color: @BLANK04;
  }

  .icon {
    color: @GRAY05;
    visibility: hidden;
    border-radius: 4px;
    transition: background-color ease-in-out 0.2s;

    &:hover {
      background-color: @WHITE14;
    }
  }
}
