@import '@/styles/token.less';

.container {
  gap: 12px;
  cursor: pointer;

  &:hover {
    .image-wrapper {
      .image {
        transform: scale(1.05);
      }

      .image-overlay {
        opacity: 1;
        z-index: @zIndexBase;
      }
    }
  }

  // 右上角提示
  .position-top-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 8px;
    border-radius: 0 @borderRadius;
    font-size: @fontSizeSm;
    font-weight: @fontWeightStrong;

    // 已启用
    &.activated-text {
      background: #ecf7ec;
      color: #3bb346;
      z-index: 9;
    }

    // 有版本更新
    &.new-version-text {
      background: #fff7e6;
      color: #fc8800;
      z-index: 10;
    }
  }

  .image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: @borderRadius;
    overflow: hidden;
    background-color: @colorBgLayout;
    border: 0.5px solid var(--color-border-02, #e4e6eb);
    box-shadow: var(--sds-size-depth-0) 1px 2px 0 rgba(12, 12, 13, 4%),
      0 1px 3px 0 rgba(0, 0, 0, 4%);
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 8px -2px rgba(0, 0, 0, 4%),
        var(--sds-size-depth-0) 4px 16px -2px rgba(12, 12, 13, 4%),
        0 8px 24px -2px rgba(0, 0, 0, 4%);
    }

    .image {
      width: auto;
      height: auto;
      object-fit: contain;
      max-width: 100%;
      transition: all 0.3s ease-in-out;
    }

    .no-screenshot {
      color: @colorTextDescription;
    }

    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 50%);
      opacity: 0;
      z-index: -1;
      transition: all 0.3s ease-in-out;

      .image-overlay-text {
        padding: @paddingXxs @padding;
        color: #fff;
        font-size: @fontSizeSm;
        font-weight: @fontWeightStrong;
        border-radius: @borderRadiusSm;
        background-color: rgba(0, 0, 0, 80%);
      }
    }
  }

  .name {
    color: #15171f;
    font-size: @fontSizeSm;
    font-weight: @fontWeightStrong;
  }

  .footer-box {
    height: 24px;

    .avatar {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      object-fit: cover;
    }

    .author-name {
      flex: 0 1 auto;
      color: #15171f;
      font-size: @fontSizeSm;
      font-weight: @fontWeightStrong;
    }

    .time {
      min-width: 120px;
      flex: 1 1 auto;
      color: #5e6470;
      font-size: @fontSizeSm;
      font-weight: @fontWeightStrong;
    }
  }
}
