@import '@/styles/color';

.title {
  position: sticky;
  top: 0;
  line-height: 60px;
  color: @BLANK17;
  font-size: 16px;
  text-align: center;
  background-color: @WHITE16;
  mask: linear-gradient(180deg, @WHITE 91.89%, hsla(0deg, 0%, 100%, 0%));
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;

  .chat-wrapper {
    padding-bottom: 30px;

    .loading {
      color: @BLUE08;
    }
  }
}

.chat-input {
  position: sticky;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
  background: @WHITE;
  z-index: 10;
}
