@import '@/styles/token.less';

.container {
  gap: 16px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;

  .header {
    gap: 12px;

    .image {
      width: 48px;
      height: 48px;
      border-radius: 8px;
      background: #eaf5ff;
      object-fit: cover;
      flex-shrink: 0; // 不压缩图片
    }

    .title {
      // color: var(@colorText, #15171F);
      // font-size: var(@fontSize, 16px);
      font-weight: 400;
      // line-height: var(@lineHeightMd, 20px);
    }
  }
}
