@import '@/styles/color';

.container {
  width: 140px;
  padding-top: 6px;

  .divider-horizontal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    border-bottom: 1px solid @GRAY02;
  }

  .log-out {
    height: 51px;
  }
}
