.add-modify-form {
  max-height: 60vh;
  overflow: auto;

  .ant-picker {
    width: 100%;
  }

  .ant-input-number {
    width: 100%;
  }
}

.add-modal-style {
  max-height: 75%;
  overflow: hidden;
}
