@import '@/styles/color';
@import '@/styles/token';

.container {
  .collection-title {
    margin-top: @margin;
    padding: @paddingXs;
    line-height: @fontHeightSm;
    font-size: @fontSize;
    font-weight: 400;
    color: @colorTextSecondary;
  }
}
