@import '@/styles/color';

.header {
  height: 48px;
  gap: 8px;
  font-size: 14px;

  .img {
    width: 32px;
    height: 32px;
    border-radius: 10px;
  }

  .title {
    color: @BLANK04;
  }

  .icon-down {
    color: @GRAY05;
  }
}

.space-item {
  height: 30px;
  padding: 0 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  opacity: 1;
  gap: 10px;

  &.active {
    background: @WHITE03;
  }

  .text {
    font-size: 14px;
    font-weight: bold;
    color: @BLANK04;
  }
}

.collection-title {
  margin-top: 40px;
  padding-left: 8px;
  font-size: 14px;
  line-height: 22px;
  color: @GRAY05;
}

.row {
  padding: 6px 8px;
  gap: 10px;

  img {
    width: 16px;
    height: 16px;
    border-radius: 4px;
  }

  .name {
    font-size: 14px;
    line-height: 22px;
    color: @BLANK04;
  }
}
