@import '@/styles/color';

.files-container {
  width: 100%;
  gap: 16px;
  padding: 10px 0;
  border-bottom: 1px solid @GRAY01;

  .file-box {
    width: 200px;
    padding: 6px 34px 6px 6px;
    background-color: @WHITE04;
    height: 62px;
    border-radius: 10px;
    font-size: 14px;
    color: @BLANK24;
    position: relative;

    &:hover {
      .del {
        visibility: visible;
      }
    }

    .del {
      position: absolute;
      top: -6px;
      right: -6px;
      font-size: 16px;
      color: @GRAY05;
      visibility: hidden;
      transition: visibility 0.3s, background-color 0.3s;
      cursor: pointer;
      border-radius: 50%;

      &:hover {
        background-color: @GRAY01;
      }
    }

    img {
      width: 50px;
      margin-right: 5px;
      border-radius: 10px;
    }

    .info {
      padding-right: 20px;
      width: 105px;
    }

    .size {
      color: @GRAY05;
      font-size: 10px;
    }

    .progress-upload-file {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);

      :global {
        .ant-progress-text {
          font-size: 9px;
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .files-container {
    // 不换行，超出滚动
    display: grid;
  }
}

@media screen and (min-width: 721px) {
  .files-container {
    // 不换行，超出滚动
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}
