@import '@/styles/color';

.container {
  height: 100%;
  padding: 20px 0;

  .title {
    padding: 0 30px;
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: @BLANK04;
  }

  .tab {
    padding: 0 30px;

    :global {
      .ant-tabs-tab {
        font-size: 16px;
        color: @GRAY05;
        font-weight: bold;
        user-select: none; // 禁止选中文字
      }

      .ant-tabs-tab.ant-tabs-tab-focus .ant-tabs-tab-btn {
        outline: none;
      }

      .ant-tabs-tab-active .ant-tabs-tab-btn {
        font-size: 16px;
        font-weight: bold;
        color: @BLUE13;
        text-shadow: none;
      }

      .ant-tabs-ink-bar {
        background: @BLUE13;
      }
    }
  }

  .list-section {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;

    .icon {
      color: @BLANK04;
      font-size: 20px;
    }
  }

  @media (min-width: 1200px) {
    .list-section {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (min-width: 1440px) {
    .list-section {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @media (max-width: 768px) {
    .list-section {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
  }
}
