@import '@/styles/color';

.container {
  padding: 0 5px;

  .main-container {
    flex: 1;
    padding: 16px 20px;

    .title {
      font-size: 18px;
      font-weight: bold;
      color: @BLANK04;
    }

    .request-select {
      width: 98px;
      margin-right: 16px;
    }

    .table-wrap {
      border-radius: 5px;
      border: 1px solid @BLANK19;

      &.mb-24 {
        margin-bottom: 24px;
      }
    }

    .select {
      width: 120px;
    }
  }
}
