@import '@/styles/color';

.time {
  line-height: 16px;
}

.footer {
  height: 24px;
  gap: 16px;

  .text {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 12px;
    color: #828894;
    gap: 4px;
  }
}
