@import '@/styles/token.less';

.bind-items-wrapper {
  height: 400px;
  border: @lineWidth solid @colorBorderSecondary;
  border-radius: @borderRadiusLg;
  padding: 0 @paddingSm;
  overflow: hidden;

  :global {
    .ant-tabs {
      height: 100%;
      display: flex;
      flex-direction: column;

      .ant-tabs-content-holder {
        flex: 1;
        min-height: 0;
      }

      .ant-tabs-content {
        height: 100%;
      }

      .ant-tabs-tabpane {
        height: 100%;
      }
    }
  }

  .picker-container {
    height: 100% !important; // 强制覆盖 ResourcePicker 内部的 500px
  }
}
