.container {
  width: 100%;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 16px;
}

.table-card {
  margin-top: 16px;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e6edf8;
  padding: 12px;
}
