@import '@/styles/token';

.dataPermissionFormWrapper {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dataPermissionForm {
  // 抵消 Row gutter 的负边距
  margin: 0 -8px;
  padding: 0 8px;
}

.scrollContainer {
  max-height: 400px;
  overflow: auto;
}
