@import '@/styles/token';

.dataPermissionFormWrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: @paddingSm;
  box-sizing: border-box;
}

.dataPermissionForm {
  // 抵消 Row gutter 的负边距
  margin: 0 -8px;
  padding: 0 8px;
}

:global {
  .ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0;
  }

  .ant-modal-title {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.tabsContentWrapper {
  display: flex;
  flex-direction: column;
  height: 400px;

  .tabContent {
    flex: 1;
    overflow-y: hidden;
    height: 100%;

    .searchInput {
      padding-top: 16px;
    }
  }

  .rightSeparator {
    margin: 0 12px;
    border-right: @lineWidth solid @colorBorderSecondary;
  }

  .rightList {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }

  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: rgba(0, 0, 0, 45%);
  }

  .modelTable {
    :global {
      .ant-table {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }

      .ant-table-container {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }

      .ant-table-thead > tr > th {
        background: transparent !important;
      }

      .ant-table-thead > tr > th:first-child {
        border-top-left-radius: 0 !important;
      }

      .ant-table-thead > tr > th:last-child {
        border-top-right-radius: 0 !important;
      }
    }
  }
}
