@import '@/styles/token';

.protocol {
  width: 88px;
  min-width: 72px;
}

.host {
  min-width: 120px;
}

.agent {
  width: 108px;
  min-width: 96px;
}

.vnc {
  width: 108px;
  min-width: 84px;
}

.file {
  width: 120px;
  min-width: 90px;
}

.select {
  width: 100%;
}

.readonly {
  display: block;
  overflow: hidden;
  color: @colorTextSecondary;
  font-size: @fontSize;
  line-height: @controlHeight;
  text-overflow: ellipsis;
  white-space: nowrap;
}
