@import '@/styles/token.less';

.price-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.limit-switch-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}

.limit-btn {
  height: 36px;
  border-radius: 10px;
}

.function-only-row {
  height: 70px;
  margin-top: 4px;
  border: 1px solid #e5ebf6;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-sizing: border-box;

  .function-only-text {
    flex: 1;
    min-width: 0;

    .function-only-desc {
      color: #64748b;
      font-size: 13px;
      line-height: 1.5;

      .function-only-highlight {
        color: @colorPrimary;
        font-weight: 600;
      }

      .function-only-highlight-pay {
        color: #ff1818;
        font-weight: 600;
      }
    }
  }
}
