@import '@/styles/color';

.header-container {
  padding: 8px 26px;
}

.header {
  height: 72px;
  gap: 12px;

  .icon-back {
    color: @BLANK17;
    font-size: 18px;
  }

  .logo {
    width: 42px;
    height: 42px;
    border-radius: 5px;
    object-fit: cover;
  }

  .section {
    gap: 6px;

    .top-box {
      gap: 10px;
      color: @BLANK04;

      .name {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .bottom-box {
      gap: 8px;

      .box {
        display: inline-block;
        padding: 0 5px;
        line-height: 18px;
        background-color: @BLANK18;
        color: @BLANK04;
        font-size: 10px;
        border-radius: 4px;
      }
    }
  }

  .dropdown-icon {
    font-size: 12px;
  }
}

.inputSearch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 42px;
}
