@import '@/styles/color';

.header {
  height: 72px;
  padding: 0 10px;
  gap: 12px;

  .icon-back {
    color: @BLANK17;
    font-size: 18px;
  }

  .logo {
    width: 42px;
    height: 42px;
    border-radius: 5px;
    object-fit: cover;
  }

  .section {
    gap: 4px;

    .top-box {
      gap: 10px;
      color: @BLANK04;

      .name {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .bottom-box {
      gap: 8px;
      font-size: 12px;

      .box {
        display: inline-block;
        padding: 0 10px;
        line-height: 18px;
        background-color: @BLANK18;
        color: @BLANK04;
      }
    }
  }

  .dropdown-icon {
    font-size: 12px;
  }
}
