@import '@/styles/color';

// 去除当前model的padding
.created-modal-style {
  :global {
    .ant-modal-header {
      margin-bottom: 0;
      height: 65px;
      padding: 15px 0;
      background-color: @WHITE04;
    }

    .ant-modal-body {
      height: calc(100% - 75px);
    }

    .ant-modal-content {
      padding: 0;
    }
  }
}

// 头部样式
.created-title {
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: @WHITE04;
  padding-left: 12px;

  .radio-title-style {
    :global {
      .ant-radio-button-wrapper {
        border: none;
        transition: none;
      }
    }

    &:last-child {
      .radio-button-style {
        &::after {
          display: none;
        }
      }
    }

    .radio-button-style {
      background-color: @WHITE04;
      font-size: 16px;
      font-weight: 500;
      border-radius: 0;
      padding: 0 20px;
      margin: 2px 0;
      position: relative;

      &::after {
        content: '';
        width: 1px;
        height: 70%;
        background-color: @GRAY06;
        position: absolute;
        top: 15%;
        right: 0;
      }
    }

    // 移除第一个单选按钮的box-shadow
    .first-radio-style {
      box-shadow: none;
    }
  }
}

.created-list-spin-style {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  :global {
    .ant-spin-container {
      display: flex;
      width: 100%;
      flex: 1;
      min-height: 100%;
      flex-direction: column;
    }
  }
}

.created-list-empty-style {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

// 内容部分
.created-container {
  height: 70vh;
  max-height: 700px;
  min-height: 400px;
  border-top: 1px solid @GRAY06;
  overflow: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  // 侧边栏样式
  .aside-style {
    box-sizing: border-box;
    padding: 0 20px;
    background-color: @GRAY06;
    height: 100%;
    padding-top: 20px;
    width: 270px;

    :global {
      .ant-menu-item-selected {
        color: @BLANK04;
        background-color: @BLANK06;
      }
    }
  }

  :global {
    // 消除右侧的边框
    .ant-menu-light.ant-menu-root.ant-menu-inline {
      border-inline-end: none;
      background-color: @GRAY06;
    }
  }

  // 右侧主题内容
  .main-style {
    background-color: @WHITE04;
    height: 100%;
    overflow-y: auto;
    // 添加 鼠标不可选择
    user-select: none;

    // 每一个样式
    .list-item-style {
      height: 120px;
      padding: 13px 23px;
      box-sizing: border-box;
      border-bottom: 1px solid @GRAY17;

      .left-image-style {
        width: 40px;
        height: 40px;
        border-radius: 6px;
        overflow: hidden;
        margin-right: 13px;

        svg {
          width: 40px;
          height: 40px;
        }
      }

      .content-font {
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 0;
        color: @GRAY05;
        margin-right: 10px;

        .count-div-style {
          img {
            width: 12px;
            height: 12px;
            margin-right: 6px;
          }
        }
      }

      .label-font-style {
        font-size: 14px;
        font-weight: bold;
        color: @BLANK04;
      }
    }
  }
}

.collect-star {
  color: rgb(251, 224, 20);
}

.icon-margin {
  margin-right: 4px;
}

.created-description-style {
  max-height: 35px;
  max-width: 580px;
  word-break: break-word;
}
