@import '@/styles/color';

.container {
  margin-top: 20px;

  &:first-child {
    margin-top: 50px;
  }

  .box {
    gap: 10px;
    padding: 8px 20px;
    background-color: @WHITE;

    img {
      width: 40px;
      height: 40px;
    }

    h3 {
      font-size: 14px;
    }

    .desc {
      color: @GRAY05;
    }
  }
}
