@import '@/styles/color';

.box {
  height: 65px;
  margin-top: 4px;
  color: @BLANK17;
  border-right: 1px solid transparent;
  transition: background-color 0.3s;
  user-select: none; /* 禁止选中 */
  user-select: none; /* 兼容 Webkit 内核的浏览器 */
  user-select: none; /* 兼容 Firefox */
  user-select: none; /* 兼容 IE10+ */

  &:hover {
    background-color: @WHITE18;
  }

  &.active {
    background-color: @WHITE18;
    border-color: @BLUE10;
    color: @BLUE07;
  }

  img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  .text {
    margin-top: 4px;
    font-size: 12px;
  }
}
