@import '@/styles/color';
@import '@/styles/token';

.box {
  margin-bottom: @marginXs;
  color: @colorTextSecondary;
  transition: background-color 0.3s;
  user-select: none; /* 禁止选中 */
  .active-icon-container {
    display: flex;
    width: 40px;
    height: 40px;
    padding: @paddingXs;
    justify-content: center;
    align-items: center;
    border-radius: @borderRadius;
  }

  &:hover {
    .active-icon-container {
      background: @colorBgElevated;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 8%);
    }
  }

  &.active {
    color: @colorPrimary;

    .active-icon-container {
      background: @colorBgElevated;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 8%);
    }
  }

  // .text {
  //   margin-top: 4px;
  //   font-size: 12px;
  // }
}
