.action-form-item-style {
  display: flex;
  justify-content: left;

  .ant-form-item {
    margin-bottom: 0 !important;
  }
}

.input-or-reference {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 0 4px 0 0;
  height: 32px;
  width: 100%;

  .ant-input-outlined {
    border: none;
  }

  .ant-input-outlined:focus {
    box-shadow: none;
  }

  .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    border: none;
  }

  .input-or-reference-tag {
    margin-left: 4px;
  }
}

.tree-form-name {
  margin-right: 10px;
}

.tree-name-style {
  width: 100px;
  margin-left: 40px;
}

.tree-data-type-style {
  width: 110px;
}
