.action-form-item-style {
  display: flex;
  justify-content: left;

  .ant-form-item {
    margin-bottom: 0 !important;
  }
}

.ant-input {
  height: 28px;
  font-size: 12px;
}

.ant-select {
  height: 28px;

  .ant-select-selector {
    font-size: 12px;
  }
}

.ant-tag {
  height: 22px;
  font-size: 10px;
  // line-height: 14px;
}

.input-or-reference {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 0 4px 0 0;
  height: 28px;
  width: 100%;

  .ant-input-outlined {
    border: none;
  }

  .ant-input-outlined:focus {
    box-shadow: none;
  }

  .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    border: none;
  }

  .input-or-reference-tag {
    margin-left: 4px;
  }

  input {
    height: 20px;
  }
}

.tree-form-name {
  margin-right: 4px;
}

.tree-name-style {
  width: 100px;
  margin-left: 40px;
}

.tree-data-type-style {
  width: 110px;
}

.input-reference-icon-style {
  width: 12px;
  height: 12px;
}

.ant-tree-switcher::before {
  width: 12px;
}

.ant-tree-node-selected {
  background-color: none;
}

.tree-icon-style {
  width: 18px;

  &:hover {
    background-color: none;
  }
}

.tree-form-style {
  font-size: 12px;

  .ant-tree-switcher {
    width: 12px !important;
  }

  svg {
    width: 14px;
  }
}

.tree-form-style-no-child {
  font-size: 12px;

  .ant-tree-switcher {
    display: none;
  }

  svg {
    width: 14px;
  }
}
