@import '@/styles/color';
@import '@/styles/token';

.container {
  display: flex;
  flex-direction: column;
  padding: @paddingLg;
  height: 100%;
  background-color: @colorBgContainer;
}

.title {
  margin-bottom: @marginLg !important;
  color: @colorTextHeading;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
