@WHITE: #fff;
@WHITE01: #f6f8fa;

@GRAY: #ccc;
@GRAY01: #eceeef;
@GRAY02: rgba(56, 55, 67, 0.08);

@BLANK: #000;
@BLANK01: rgba(82, 100, 154, 0.13);
@BLANK02: rgba(82, 100, 154, 0.3);
@BLANK03: rgba(8, 13, 30, 0.9);

@BLUE01: #4080ff;
