@WHITE: #fff;
@WHITE01: #f6f8fa;
@WHITE02: rgba(252, 252, 255, 1);
@WHITE03: #f3f5fa;
@WHITE04: #f7f7fa;
@WHITE05: #f0eff5;
@WHITE06: #e4eeff;
@WHITE07: #e7e6ec;

@GRAY: #ccc;
@GRAY01: #eceeef;
@GRAY02: rgba(56, 55, 67, 0.08);
@GRAY03: #95979c;
@GRAY04: #c9cdd4;
@GRAY05: #95979c;
@GRAY06: #d8d8d8;
@GRAY07: #979797;

@BLANK: #000;
@BLANK01: rgba(82, 100, 154, 0.13);
@BLANK02: rgba(82, 100, 154, 0.3);
@BLANK03: rgba(8, 13, 30, 0.9);
@BLANK04: #3d3d3d;
@BLANK05: rgba(0, 0, 0, 0.3);

@BLUE01: #4080ff;
@BLUE02: #0256ff;
