@WHITE: #fff;
@WHITE01: #f6f8fa;
@WHITE02: rgba(252, 252, 255, 1);
@WHITE03: #f3f5fa;
@WHITE04: #f7f7fa;
@WHITE05: #f0eff5;
@WHITE06: #e4eeff;
@WHITE07: #e7e6ec;
@WHITE08: #f0f0f5;
@WHITE09: rgba(247, 247, 252, 1);
@WHITE10: #f9f9f9;
@WHITE11: #d9d9d9;
@WHITE12: #f5f7fa;
@WHITE13: #d3d3f7;
@WHITE14: #e5e8ef;
@WHITE15: #e5e6eb;

@GRAY: #ccc;
@GRAY01: #eceeef;
@GRAY02: rgba(56, 55, 67, 0.08);
@GRAY03: rgba(180, 186, 246, 1);
@GRAY04: #c9cdd4;
@GRAY05: #95979c;
@GRAY06: #d8d8d8;
@GRAY07: #979797;
@GRAY08: #f1f2fd;
@GRAY09: #f2f3f5;
@GRAY10: #767676;
@GRAY11: #86909c;

@BLANK: #000;
@BLANK01: rgba(82, 100, 154, 0.13);
@BLANK02: rgba(82, 100, 154, 0.3);
@BLANK03: rgba(8, 13, 30, 0.9);
@BLANK04: #3d3d3d;
@BLANK05: rgba(0, 0, 0, 0.3);
@BLANK06: rgba(28, 29, 35, 0.35);
@BLANK07: rgba(56, 55, 67, 0.8);
@BLANK08: #1c1d23;
@BLANK09: rgba(56, 55, 67, 1);
@BLANK10: rgba(0, 0, 0, 0.45);
@BLANK11: rgba(15, 21, 40, 0.82);
@BLANK12: rgba(0, 0, 0, 0.04);
@BLANK13: rgba(32, 41, 69, 0.62);
@BLANK14: #1d1c23;
@BLANK15: #1d1c24;
@BLANK16: rgba(29, 28, 36, 0.6);
@BLANK17: #4e5969;
@BLANK18: rgba(87, 104, 161, 0.08);
@BLANK19: rgba(29, 28, 35, 0.08);
@BLANK20: rgba(171, 199, 255, 0.2);
@BLANK21: rgba(55, 67, 106, 0.38);
@BLANK22: rgba(46, 46, 56, 0.04);
@BLANK23: rgba(28, 31, 35, 0.35);

@BLUE01: #4080ff;
@BLUE02: #0256ff;
@BLUE03: #4d53e8;
@BLUE04: #1677ff;
@BLUE05: #4f40e5;
@BLUE06: rgba(48, 113, 242, 1);
@BLUE07: #165dff;

@GREEN01: rgba(103, 229, 146, 0.2);
@GREEN02: rgba(0, 184, 62, 1);
@GREEN03: rgba(62, 194, 84, 1);
@GREEN04: rgba(62, 194, 84, 0.8);

@YELLOW01: rgba(250, 191, 12, 1);

@RED: #ff0000;
