@xagi-primary-color: var(--xagi-primary-color);
@xagi-primary-color-hover: var(--xagi-primary-color-hover);
@xagi-primary-color-active: var(--xagi-primary-color-active);
@xagi-primary-color-disabled: var(--xagi-primary-color-disabled);
@xagi-success-color: var(--xagi-success-color);
@xagi-success-color-hover: var(--xagi-success-color-hover);

@xagi-border-radius: var(--xagi-border-radius);
@xagi-border-color-base: var(--xagi-border-color-base);
