@primary-color: var(--xagi-primary-color);
@primary-color-hover: var(--xagi-primary-color-hover);
@primary-color-active: var(--xagi-primary-color-active);
@primary-color-disabled: var(--xagi-primary-color-disabled);
@success-color: var(--xagi-success-color);
@success-color-hover: var(--xagi-success-color-hover);

@border-radius: var(--xagi-border-radius);
@border-color-base: var(--xagi-border-color-base);
