@import 'src/styles/color';

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

each(range(2, 3, 1), {
  .text-ellipsis-@{value} {
       overflow: hidden;
       text-overflow: ellipsis;
       display:-webkit-box;
       -webkit-line-clamp: @value;
       -webkit-box-orient: vertical;
  }
});

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.px-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.radius-6 {
  border-radius: 6px;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-y {
  overflow: auto;
}

.hover-box {
  border-radius: 6px;
  border-width: 0;
  background-color: transparent;
  transition: background-color ease-in-out 0.2s;

  &:hover {
    background-color: @WHITE01;
  }
}
