@import 'src/styles/color';

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

each(range(2, 3, 1), {
  .text-ellipsis-@{value} {
       overflow: hidden;
       text-overflow: ellipsis;
       display:-webkit-box;
       -webkit-line-clamp: @value;
       -webkit-box-orient: vertical;
  }
});

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}
// 获取剩余的空间
.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.content-center {
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.px-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.radius-6 {
  border-radius: 6px;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-y {
  overflow: auto;
}

.overflow-hide {
  overflow: hidden;
}

.hover-box {
  border-radius: 6px;
  border-width: 0;
  background-color: transparent;
  transition: background-color ease-in-out 0.2s;

  &:hover {
    background-color: @WHITE01;
  }
}

// felx 布局
// 两端对齐且居中
.dis-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 两端对齐不居中
.dis-sb-start {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

// 自适应对其
.dis-sa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// 依次排序
.dis-left {
  display: flex;
  justify-content: left;
  align-items: center;
}
// 从右往左
.dis-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// 上下排列
.dis-col {
  display: flex;
  flex-direction: column;
}

// 自动换行
.dis-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

// 自动换行
.dis-wrap-sa {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  box-sizing: border-box;
}

// 居中对齐
.dis-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
