.team-setting-container {
  width: 100%;
  height: 100%;
  padding: 26px 26px 21px 22px;
  background-color: #f3f5fa;
}

.team-summary-info {
  margin-bottom: 15px;

  img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 15px;
  }

  h1 {
    margin-bottom: 10px;
  }
}

.team-setting-modal-description {
  margin: 25px 0;
}

.team-setting-modal-warning {
  color: red;
  background-color: #f6f4dd;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
}

.add-member-modal-content {
  width: 600px;
}

.add-member-left-column {
  padding-right: 15px;
  border-right: 1px solid #ddd;
}

.selected-member-list {
  border-bottom: none;
}
