@import '@/styles/color';

.container {
  padding: 16px 20px;
  border-bottom: 1px solid @GRAY08;

  h3 {
    color: @BLUE08;
    margin-bottom: 6px;
    font-size: 16px;
  }

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-top: 6px;
  }

  p {
    line-height: 20px;
    margin-top: 6px;
    color: @GRAY05;
    font-size: 14px;
  }
}
