@import '@/styles/color';

.container {
  padding: 16px 20px;
  margin-top: 20px;
  border: 1px solid @GRAY06;
  border-radius: 6px;

  h3 {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
  }

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-top: 6px;
  }

  p {
    line-height: 20px;
    margin-top: 6px;
    color: @GRAY05;
    font-size: 14px;
  }
}
