@import '@/styles/color';

.container {
  height: 158px;
  background-color: @WHITE;

  .header {
    gap: 12px;

    .info-box {
      gap: 6px;
      margin-bottom: 4px;

      .title {
        line-height: 22px;
        font-size: 16px;
        color: @BLANK09;
      }
    }

    .desc {
      height: 40px;
      line-height: 20px;
      font-size: 14px;
      color: @GRAY07;
    }

    .logo-box {
      width: 64px;
      height: 64px;
      border-radius: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .rel-info {
    gap: 4px;
    color: @GRAY04;
    font-size: 12px;
  }

  .footer {
    height: 26px;
    color: @GRAY04;
    font-size: 14px;

    .author {
      margin-left: 4px;
    }

    .icon-box {
      width: 22px;
      height: 22px;
      margin-inline-start: 6px;
      border-radius: 6px;
      background-color: @BLANK18;
      color: @BLANK05;

      &.collected {
        color: @YELLOW01;
      }
    }
  }
}

.more-line {
  line-height: 28px;
  width: 100px;
  padding: 0 6px;
  font-size: 12px;

  &.del {
    color: @RED;
  }
}
