@import '@/styles/color';

.container {
  height: 158px;
  background-color: @WHITE;
  border: 1px solid @BLANK01;
  border-radius: 8px;

  .rel-info {
    gap: 4px;
    color: @GRAY04;
    font-size: 12px;
  }

  .footer {
    height: 26px;
    color: @GRAY04;
    font-size: 14px;

    .author {
      margin-left: 4px;
    }

    .icon-box {
      width: 26px;
      height: 26px;
      margin-inline-start: 6px;
      border-radius: 6px;
      background-color: @BLANK18;
      color: @BLANK05;
    }
  }
}
