@import '@/styles/color';
@import '@/styles/token';

.container {
  padding: 24px;

  h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: @fontWeightStrong;
    color: @BLANK04;
  }

  .btn {
    margin-bottom: 10px;
  }
}
