@import 'src/styles/color';

.collapse-parent-style {
  .ant-collapse-expand-icon {
    margin-top: 5%;
  }
}

.plugin-header-style {
  .svg-style {
    width: 36px;
    height: 36px;
    margin-right: 16px;

    svg {
      width: 36px;
      height: 36px;
    }
  }
}

.plugin-header-content-style {
  flex: 1;
  word-wrap: break-word;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  color: @GRAY05;

  svg {
    margin-right: 4px;
  }

  .child-desc-style {
    max-width: 600px;
  }
}

.plugin-header-label-style {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: @BLANK;
}

.margin-bottom-6 {
  margin-bottom: 6px;
}

.margin-left-6 {
  margin-left: 6px;
}

.margin-left-50 {
  margin-left: 50px;
}
