@import '@/styles/color';

.container {
  height: 100%;
  padding: 50px 24px 24px;
  padding-left: 20px;
  background-color: @WHITE;
  overflow: hidden;

  h3 {
    font-weight: 600;
    margin-bottom: 20px;

    .icon {
      color: @BLANK11;
      font-size: 14px;
    }
  }

  .footer {
    text-align: right;
  }
}
