@import '@/styles/color';

.modal-content {
  width: 560px;
  background-color: @WHITE12 !important;

  .modal-header {
    background-color: @WHITE12;
  }

  .input-textarea {
    border: none;
  }

  .select {
    width: 150px !important;
  }

  .scope {
    font-weight: 600;
    font-size: 14px;
  }

  .table-wrap {
    margin-top: 20px;
    margin-bottom: 50px;

    .table-copy {
      margin-left: 50px;
    }
  }
}
