@import '@/styles/color';

.container {
  height: 100%;
  padding: 40px 0 20px;

  .title {
    font-size: 24px;
    font-weight: bold;
    color: @BLANK04;
  }

  .textarea {
    width: 780px;
    margin-top: 45px;
  }

  .recommend {
    width: 780px;
    padding: 30px 0;
    gap: 20px;

    .recommend-item {
      line-height: 36px;
      padding: 0 20px;
      border-radius: 10px;
      box-sizing: border-box;
      border: 1px solid @GRAY17;
      font-size: 14px;
      color: @BLANK04;
      background-color: @WHITE;
    }
  }

  .wrapper {
    width: 780px;
    border-radius: 10px;
    padding: 20px;
    background: @WHITE;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 48px 12px 16px;

    .textarea {
      width: 100%;
    }

    .recommend {
      width: 100%;
    }

    .wrapper {
      width: 100%;
    }
  }
}
