.container {
  padding-top: 160px;

  .title {
    font-size: 36px;
    font-weight: bold;
    line-height: 22px;
    color: #3d3d3d;
  }

  .tips {
    margin-top: 30px;
    font-size: 24px;
    line-height: 22px;
    color: #95979c;
  }

  .textarea {
    width: 600px;
    margin-top: 80px;
    border-radius: 14px;
    border-color: #95979c;
  }

  .recommend {
    width: 600px;
  }
}
