@import '@/styles/token';

.container {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgba(21, 23, 31, 50%);
  font-size: 12px;
  font-weight: @fontWeightStrong;
  flex: 0 1 auto;

  .text {
    white-space: nowrap;
  }
}
