@import '@/styles/color';

.container {
  height: 32px;
  padding: 0 10px;
  color: @GRAY05;
  font-size: 12px;

  .more-action {
    gap: 10px;

    img {
      width: 16px;
      height: 16px;
    }
  }
}
