@import '@/styles/color.less';

.task-wrapper {
  max-height: 300px;
  gap: 5px;
  overflow-y: auto;
  padding-bottom: 10px;

  .task-item {
    gap: 6px;
    height: 28px;
    font-size: 14px;
    color: @GRAY15;
    transition: color 0.3s;

    &:hover {
      color: @BLANK14;

      .icon {
        visibility: visible;
        opacity: 1;
      }
    }

    .icon {
      font-size: 12px;
      color: @GRAY20;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.3s, opacity 0.3s, color 0.3s;

      &:hover {
        color: @BLANK03;
      }
    }

    .time {
      font-size: 12px;
      color: @GRAY20;
    }
  }
}
