@import '@/styles/color';

.title {
  margin-bottom: 6px;
  padding-left: 8px;
  font-size: 14px;
  line-height: 22px;
  color: @GRAY05;
}

.row {
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  box-sizing: border-box;
  color: @GRAY15;
  font-size: 12px;
}

.more-conversation {
  padding: 0 8px;
  color: @BLANK04;
  font-size: 12px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: @BLANK03;
  }
}
