// 大模型节点
.model-dispose-mode-style {
  display: flex;
  flex-direction: column;

  .label-style {
    width: 120px;
  }

  .slider-style {
    flex: 1;
  }

  .input-style {
    width: 100px;
    margin-left: 30px;
  }
}
