@import '@/styles/color';

.container {
  flex: 4;
  min-width: 340px;
  border-radius: 10px;
  background-color: @WHITE;

  .divider-horizontal {
    height: 1px;
    margin: 0 5px;
    background-color: @GRAY06;
  }

  .main-content {
    padding: 20px;
    overflow-y: auto;
  }
}
