@import '@/styles/color';

.container {
  width: 768px;
  border-radius: 10px;
  background-color: @WHITE;
  overflow-y: auto;

  .divider-horizontal {
    height: 1px;
    margin: 0 5px;
    background-color: @GRAY06;
  }

  .main-content {
    padding: 20px;
  }
}
