@import '@/styles/color';

.container {
  flex: 4;
  min-width: 340px;
  border-radius: 10px;
  background-color: @WHITE;

  .loading {
    color: @BLUE08;
  }

  .divider-horizontal {
    height: 1px;
    margin: 0 5px;
    background-color: @GRAY06;
  }

  .main-content {
    gap: 20px;
    padding: 20px;

    .chat-wrapper {
      overflow-y: auto;
      padding-bottom: 30px;
      mask: linear-gradient(180deg, @WHITE 91.89%, hsla(0deg, 0%, 100%, 0%));
    }
  }
}
