@import '@/styles/color';

.ecosystemCard {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  // margin-bottom: 16px;
  border: 1px solid @GRAY08;
  background: #fff;
  position: relative;
  height: 124px;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 10%);
  }

  :global {
    .ant-card-body {
      padding: 22px 22px 10px !important;
    }
  }
}

.cardContent {
  display: flex;
  // padding: 20px;
  align-items: flex-start;
}

.iconWrapper {
  position: relative;
  flex-shrink: 0;
  margin-right: 12px;
}

.icon {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  object-fit: cover;
}

.activatedIcon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
}

.infoWrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 14px;
  color: '#3A3F4F';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  margin: 0;
  color: #757b8d;
  font-size: 12px;
  line-height: 1.5;
}

.description {
  margin: 0;
  font-size: 12px;
  color: #b8bcc5;
  line-height: 1.5;
  //超过三行显示省略号 不校验

  display: box; /* eslint-disable-line */
  -webkit-box-orient: vertical; /* eslint-disable-line */
  -webkit-line-clamp: 3; /* eslint-disable-line */
  overflow: hidden;
  text-overflow: ellipsis;
}

.sharedIcon {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 40px;
  height: 40px;
  z-index: 1;
}

.newVersionIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
  color: #f44c76;
  font-size: 12px;
}
