@import '@/styles/color';

.box {
  width: 60px;
  height: 48px;
  margin-top: 8px;

  &.active {
    background: @WHITE03;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .text {
    margin-top: 4px;
    color: @BLANK03;
    font-size: 12px;
    transform: scale(0.85);
  }
}
