@import '@/styles/color';

.box {
  width: 60px;
  height: 48px;
  margin-top: 8px;

  &.active {
    background: @WHITE03;
  }

  .text {
    margin-top: 2px;
    color: @BLANK03;
    font-size: 12px;
  }
}
