@import '@/styles/color';

.btn {
  width: 100px;
}

.confirm-btn[disabled] {
  background-color: @GRAY03; /* 修改背景颜色 */
  color: @WHITE; /* 修改文本颜色 */
  border-color: transparent; /* 修改边框颜色 */
  cursor: not-allowed; /* 修改鼠标指针样式 */
}
