@import '@/styles/color.less';

.container {
  padding: 0 10px;

  .main-container {
    width: 775px;
    margin: 0 auto;
    padding: 30px 0;

    .sub-title {
      margin-left: 6px;
      font-size: 12px;
      font-weight: 350;
      color: @GRAY07;
    }

    .collapse-container {
      background-color: @WHITE;
    }
  }
}
