@import '@/styles/color';

.container {
  max-width: 300px;

  .p-header {
    gap: 8px;

    .icon {
      color: @BLUE03;
    }

    .img {
      width: 26px;
      height: 26px;
      border-radius: 50%;
    }

    .title {
      font-size: 14px;
      color: @BLANK04;
    }
  }

  .divider {
    margin: 12px auto;
  }

  .p-footer {
    padding: 0 22px;

    .team-title {
      line-height: 16px;
      color: @GRAY05;
      font-size: 12px;
    }

    .team-info {
      height: 32px;
      gap: 6px;
      color: @BLANK07;

      .team-logo {
        width: 14px;
        height: 14px;
        border-radius: 50%;
      }
    }

    .create-team {
      gap: 6px;
    }
  }
}
