@import "@/styles/color";

.container {
  padding: 0 5px;

  .main-container {
    flex: 1;
    padding: 16px 20px;

    .title {
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: bold;
      color: @BLANK04;
    }

    .request-select {
      width: 98px;
      margin-right: 16px;
    }
  }
}