@import '@/styles/color';
@import '@/styles/token';

.require-params {
  background: @BLANK22;
  padding: 12px;

  .r-header {
    gap: 4px;
    font-size: 12px;
    font-weight: @fontWeightStrong;

    .plus-icon {
      width: 20px;
      height: 20px;
      margin-left: auto;

      &:hover {
        color: @WHITE;
        background-color: @GRAY04;
      }
    }
  }
}

.reduce-icon {
  color: @BLANK23;
  font-size: 14px;
}

.table-container {
  :global {
    .ant-table-content .ant-table-thead > tr > th {
      padding-left: 0;
      font-size: 14px;
      color: @GRAY05;
      background: @BLANK22 !important;
    }

    .ant-table-content .ant-table-tbody > tr > td {
      padding: 10px 10px 10px 0;
      background: @BLANK22 !important;
    }
  }
}
