@import '@/styles/color';

.container {
  background-color: @WHITE12 !important;

  .table-wrap {
    background-color: @WHITE12;

    :global {
      .ant-table-cell {
        background-color: @WHITE12;
      }

      .ant-table-tbody > tr.ant-table-placeholder:hover > td {
        background-color: @WHITE12;
      }

      .ant-table-footer {
        background-color: @WHITE12;
        padding-left: 0;
      }

      .ant-table-thead > tr > th {
        // padding-left: 0;
        color: @GRAY07 !important;
        font-size: 12px !important;
      }
    }

    .chat-url {
      color: @GRAY26;
      font-size: 12px;
    }
  }
}

.img {
  width: 16px;
}
