@import '@/styles/color';
@import '@/styles/token';

.container {
  gap: @marginXs;

  .box {
    width: fit-content;
    display: inline-block;
    line-height: 26px;
    padding-top: @paddingXxs;
    padding-bottom: @paddingXxs;
    font-size: @fontSize;
    color: @colorTextSecondary;
    border: @lineWidth solid @colorSplit;
  }
}
