@import '@/styles/color';

.container {
  padding: 0 72px;
  gap: 10px;

  .box {
    width: fit-content;
    display: inline-block;
    line-height: 26px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    color: @BLANK11;
    border: 1px solid @GRAY14;
  }
}
