@import '@/styles/color';
@import '@/styles/token';

.container {
  gap: @marginXs;

  .box {
    max-width: 100%;
    width: fit-content;
    line-height: 26px;
    padding: @paddingXxs @paddingSm;
    font-size: @fontSize;
    color: @colorText;
    border: @lineWidth solid @colorSplit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .icon {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      display: inline-block;
    }
  }
}

/* 当屏幕宽度小于等于 720px 时应用的样式 */
@media screen and (max-width: 720px) {
  .container {
    padding: 0 @paddingMd;
  }
}
