@import '@/styles/color';

.container {
  padding-left: 20px;
  padding-right: 20px;
  background-color: @WHITE;
  border: 1px solid @BLANK01;
  border-radius: 8px;

  .header {
    gap: 10px;

    .plugin-name {
      line-height: 22px;
      font-size: 14px;
      color: @BLANK17;
    }

    .desc {
      line-height: 22px;
      font-size: 14px;
      color: @GRAY05;
    }

    .img {
      width: 52px;
      height: 52px;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  .type-wrap {
    gap: 6px;
    margin-top: 4px;
  }

  .footer {
    height: 26px;
    font-size: 12px;
    color: @GRAY05;
    gap: 6px;

    .img {
      width: 12px;
      height: 12px;
    }

    .edit-time {
      margin-left: 4px;
      max-width: 140px;
    }

    .icon-box {
      width: 26px;
      height: 26px;
      margin-left: auto;
      border-radius: 6px;
      background-color: @BLANK18;
      color: @BLANK05;
    }
  }
}
