@import '@/styles/color';

.container {
  width: 560px;
  border-radius: 10px !important;
  background-color: @WHITE12 !important;

  :global {
    .ant-table-wrapper .ant-table-thead > tr > th,
    .ant-table-wrapper .ant-table-tbody > tr > td {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .header {
    background-color: @WHITE12 !important;
  }

  .gap-16 {
    gap: 16px;
  }

  .select {
    width: 250px !important;
  }
}

.table-bg {
  background-color: @WHITE12 !important;
}
