@import '@/styles/color';

.segment {
  margin-bottom: 20px;
}

.image-box {
  gap: 10px;
}

.vertical-line {
  width: 1px;
  height: 12px;
  background-color: @GRAY06;
}

.recommend-img {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}
