@import '@/styles/color';
@import '@/styles/token';

.header {
  // gap: 10px;
  padding: @padding @paddingLg;
  // border-bottom: 1px solid @BLANK01;
  overflow-x: auto;

  .icon-backward {
    padding: @paddingXs;
    margin-right: @marginLg;
  }

  .avatar {
    width: 56px;
    height: 56px;
    border-radius: @borderRadius;
  }

  .header-info {
    padding-left: @paddingSm;
    // gap: 6px;

    .h-title {
      max-width: 360px;
      margin-right: @marginSm;
      font-size: 20px;
      font-weight: @fontWeightStrong;
      color: @colorText;
      white-space: nowrap;
    }

    .edit-ico {
      color: @GRAY05;
    }

    .agent-rel-info {
      gap: @marginXs;
      color: @colorTextTertiary;
      font-size: @fontSize;

      img {
        width: 12px;
        height: 12px;
        border-radius: 3px;
        object-fit: cover;
      }

      .space-name {
        max-width: 200px;
      }
    }
  }

  .save-time-box {
    gap: @paddingXs;

    .save-time {
      color: @colorTextTertiary;
    }

    :global {
      .ant-tag {
        margin-inline-end: 0;
      }
    }
  }

  .fold-box {
    margin-left: @marginLg;
    padding: @paddingXs @paddingSm;

    .fold-btn {
      gap: @paddingXs;
      color: @colorText;
      font-size: @fontSize;
    }
  }

  .header-title {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 18px;
    font-weight: bold;
    color: @BLANK04;
  }

  .right-box {
    margin-left: auto;

    .publish-btn {
      margin-left: @marginXs;
    }
  }
}

@media (max-width: 768px) {
  .agent-rel-info {
    display: none;
  }

  .header-title {
    display: none;
  }

  .fold {
    display: none;
  }

  .ico {
    display: none;
  }
}
