@import '@/styles/token';

.app-card {
  .footer {
    height: 24px;
    gap: 16px;

    .count-box {
      gap: 16px;
      flex: 1;

      .text {
        display: flex;
        align-items: center;
        font-size: @fontSizeSm;
        color: #828894;
        gap: 4px;
      }
    }
  }
}
