@import '@/styles/color';

.run-success {
  width: 180px;
  height: 60px;
  gap: 10px;
  padding: 0 20px;
  border-radius: 12px;
  color: #3db86d;
  font-size: 16px;
  background-color: @GRAY01;
}

.pop-content {
  width: 507px;
  height: 135px;
  padding: 10px 15px;
  color: @GRAY05;
  font-size: 12px;
  background-color: @GRAY01;

  .row {
    height: 26px;
    margin-bottom: 4px;
    gap: 10px;
  }

  .summary {
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #3db86d;
  }
}
