@import '@/styles/color';

.container {
  height: 100%;
  padding-top: 50px;
  padding-left: 20px;
  background-color: @WHITE;
  overflow: hidden;

  h3 {
    font-weight: 600;
    margin-bottom: 20px;
  }

  .footer {
    height: 60px;
    padding: 0 20px;
    text-align: right;
  }
}
