@import '@/styles/token.less';

.greeting-header-container {
  text-align: center;
  margin-top: @margin;
  margin-bottom: @marginXl;
  animation: fadeIn 0.6s @motionEaseOut;

  .greeting-title {
    font-size: 28px;
    font-weight: 500;
    color: @colorTextHeading;
    letter-spacing: -0.3px;
    margin: 0;
  }
}
