@import '@/styles/token.less';

.order-list-container {
  min-height: calc(100vh - 120px);
  padding: @paddingMd;
  border-radius: @borderRadiusLg;

  .order-list {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: @marginSm;
  }
}
