.condition-card-style {
  border: 1px solid #e8e8e8;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;

  .condition-header-style {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
  }
}

.condition-right-item {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: 1;

  .ant-form-item {
    margin-bottom: 4px;
  }

  .condition-type-select-style {
    width: 56px;
  }
}

.select-condition-type-style {
  .ant-select-selector {
    border: none !important;
  }
}

.margin-right-6 {
  margin-right: 6px;
}
