.array-link-setting {
  width: 330px;
  font-size: 12px;

  .array-link-setting-select-label {
    margin-top: 40px;
    font-size: 14px;
  }

  .array-link-setting-select {
    width: 90%;
  }

  .array-link-setting-select-option {
    position: relative;
  }

  .array-link-setting-select-option-icon {
    margin-right: 4px;
    width: 16px; // Adjust based on icon size
    display: inline-block;
  }
}
