.border-bottom {
  border-bottom: 1px solid #e8e8e8;
}

.node-form-label-style {
  width: 126px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.input-item-style {
  display: flex;

  .margin-right-6 {
    margin-right: 6px;
  }
}

.knowledge-node-box {
  background-color: #cccc;
  padding: 10px;
  font-size: 12px;
  color: #838181;

  .left-label-style {
    width: 120px;
  }
}
