@import '@/styles/color.less';

.item-style {
  width: 100%;
  height: 130px;
  padding: 0 10px;

  svg {
    width: 60px;
    height: 60px;
    margin-right: 16px;
  }

  .label-style {
    font-weight: 600;
    line-height: 22px;
  }

  .tag-style {
    margin: 6px 0 2px;
  }

  .desc-style {
    color: @GRAY07;
    font-size: 12px;
  }

  &:hover {
    background: @GRAY01;
    border-radius: 10px;
  }
}
