@import '@/styles/color';
@import '@/styles/token';

.copy-btn {
  padding: 0;
  border: 0;
  background: transparent;
  color: @colorTextDescription;
  font-family: inherit;
  font-size: @fontSizeSm;
  transition: color 0.2s ease-in-out;
  user-select: none;

  &:hover:not(.disabled) {
    color: @colorText;
  }

  &.disabled {
    color: @colorTextDisabled;
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: @lineWidthBold solid @colorPrimary;
    outline-offset: @paddingXxs;
    border-radius: @borderRadiusSm;
  }
}

// 图标样式
.copy-image {
  margin-right: @marginXxs;
}
