@import '@/styles/color';
@import '@/styles/token';

.container {
  padding: 16px 16px 16px 24px;
}

.title-gradient {
  font-size: 22px;
  font-weight: 700;
  background: linear-gradient(135deg, #1a6bff, #0d9488);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subtitle {
  font-size: 13px;
  color: @TEXT_MEDIUM;
  font-weight: 400;
}
