@import '@/styles/color';

.run-success {
  display: inline-block;
  line-height: 36px;
  margin-bottom: 10px;
  gap: 10px;
  padding: 0 20px;
  border-radius: 6px;
  color: @GREEN02;
  font-size: 14px;
  background-color: @GRAY01;

  .status-name {
    margin-left: 12px;
  }

  .icon {
    margin-left: 10px;
    font-size: 12px;
  }
}

.pop-content {
  padding: 10px 15px;
  color: @GRAY05;
  font-size: 12px;
  background-color: @GRAY01;

  .row {
    height: 26px;
    margin-bottom: 4px;
    gap: 10px;
  }

  .summary {
    padding: 2px 5px;
    border-radius: 4px;
    color: @GREEN02;
    background-color: @GREEN01;
  }
}
