@import '@/styles/token.less';

.container {
  height: 24px;
  padding: 0 8px;
  border-radius: 4px;
  gap: 4px;
  font-size: @fontSizeSm;
  font-weight: @fontWeightStrong;

  &.agent {
    color: #a84a00;
    background-color: #fff8ea;
  }

  &.plugin {
    color: #a84a00;
    background-color: #fff8ea;
  }

  &.workflow {
    color: #25772f;
    background-color: #ecf7ec;
  }

  &.knowledge {
    color: #b2140c;
    background-color: #fef2ed;
  }

  &.table {
    color: #004fb3;
    background-color: #eaf5ff;
  }

  &.model {
    color: #871e9e;
    background-color: #f7e9f7;
  }
}
