@import '@/styles/color';

.manual-container {
  gap: 10px;
  overflow-x: auto;

  .manual-box {
    height: 32px;
    padding: 0 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 0.5px solid @WHITE15;
    color: @GRAY15;
    font-size: 12px;
    transition: background-color ease-in-out 0.3s;
    word-wrap: normal;
    white-space: nowrap;

    &:hover {
      background-color: @WHITE10;
    }

    &.active {
      color: @BLUE10;
      background-color: @BLUE11;
      border-color: @GRAY25;
    }
  }
}
