@import '@/styles/color';
@import '@/styles/token';

.container {
  max-width: 300px;
  max-height: 500px;

  .p-header {
    gap: 8px;

    .icon {
      color: @colorPrimary;
    }

    .title {
      font-size: @fontSize;
      color: @colorText;
    }
  }

  .divider {
    margin: 12px auto;
  }

  .team-info {
    height: 32px;
    padding: 0 22px;
    gap: 6px;
    color: @colorText;
    cursor: pointer;

    &:hover {
      background-color: @colorBgTextHover;
      border-radius: 6px;
    }
  }

  .create-team {
    padding: 0 22px;
    margin-top: 6px;
    gap: 6px;
  }
}
