@import '@/styles/color';
@import '@/styles/token';

.dropdown-container {
  padding: @paddingXxs @paddingXs;
  border-radius: @borderRadius;
  cursor: pointer;
  color: @colorTextSecondary;

  &:hover {
    background-color: #f3f3f3;
  }
}
