@import '@/styles/color';

.show-stand {
  width: 360px;
  border-radius: 15px;
  background: @WHITE;
  //box-shadow: 0 0 5px 0 @BLANK05;
  transition: display ease-in-out 0.3s;

  &.hidden {
    display: none;
  }
}

.stand-header {
  height: 56px;
  padding: 0 12px;

  .form-style {
    width: 100%;
    margin-bottom: 0;
  }

  .form-item-style {
    width: 100%;
    margin-bottom: 0 !important;
    height: 24px;
  }

  span {
    font-size: 18px;
    font-weight: bold;
    color: @BLANK04;

    &.icon-margin {
      margin-left: 10px;
    }
  }

  .close {
    margin-left: 8px;
    font-size: 14px;
    transition: opacity ease-in-out 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.desc {
  padding: 0 12px;
  line-height: 22px;
  color: @GRAY07;
  font-size: 12px;
}

.divider-horizontal {
  border-bottom: 1px solid @GRAY06;

  &.margin {
    margin: 0 12px;
  }
}

.empty {
  margin-top: 200px;
}
