@import '@/styles/color';
@import '@/styles/token';

.collapse-button {
  position: absolute;
  bottom: 44px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @colorBgElevated;
  border: @lineWidth solid @colorSplit;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  transform: translateX(-50%);

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 10%);
  }

  .icon {
    color: @colorTextSecondary;
    transition: color 0.2s ease-in-out;
  }

  &:hover .icon {
    color: @colorText;
  }

  // 收起状态时的样式调整
  &.collapsed {
    // right: -12px; // 移出二级菜单区域

    &:hover {
      .icon {
        color: @colorText;
      }
    }
  }
}

// 移动端隐藏收起按钮
@media (max-width: 768px) {
  .collapse-button {
    display: none !important;
  }
}
