@import '@/styles/color';

.container {
  width: 560px;
  background-color: @WHITE12 !important;

  .header {
    background-color: @WHITE12 !important;
  }

  .body {
    padding: 20px !important;
  }

  .step-wrap {
    width: 400px;
    padding: 10px 16px;
    margin: 0 auto;
    background-color: @WHITE;

    :global {
      .ant-steps .ant-steps-item-title::after {
        height: 0;
      }
    }
  }

  .file-box {
    height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
    color: @BLANK03;
    border: 1px solid @GRAY01;
    border-radius: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
