@import '@/styles/color';
@import '@/styles/token';

.container {
  display: flex;
  // width: 100%;
  width: 360px;
  transition: all 0.3s ease;
  border-left: @lineWidth solid @colorSplit;

  &.hidden {
    display: none;
    width: 0;
    overflow: hidden;
  }

  .header {
    height: 40px;
    padding: @padding @paddingLg;
    box-sizing: content-box;
    border-bottom: @lineWidth solid @colorSplit;

    h3 {
      font-size: 20px;
      line-height: 40px;
      color: @colorText;
      white-space: nowrap;
    }

    .close {
      margin-left: @paddingXs;
      font-size: @fontSizeLg;
      transition: opacity ease-in-out 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
