@import '@/styles/color';
@import '@/styles/token';

.container {
  padding: 16px 20px;
  border-bottom: 1px solid @GRAY08;

  &:last-child {
    border-bottom: none;
  }

  h3 {
    color: @BLANK31;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: @fontWeightStrong;
    word-break: break-all;
  }

  p {
    line-height: 20px;
    color: @GRAY05;
    font-size: 14px;
    word-break: break-all;
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: 10px;
  }
}
