@import '@/styles/color';
@import '@/styles/token';

.config-layout {
  display: flex;
  height: 100%;

  .anchor-sidebar {
    width: 80px;
    padding: 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .anchor-item {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
    color: @colorTextTertiary;
    font-size: @fontSizeSm;
    transition: all 0.2s ease;
    position: relative;
    user-select: none;

    &:hover {
      background-color: @colorFillQuaternary;
      color: @colorText;
    }
  }

  .anchor-item-label {
    flex: 1;
    text-align: left;
    white-space: nowrap;
  }
}

.container {
  flex: 1;
  border-left: @lineWidth solid @colorSplit;
  padding: @paddingXs @padding;
  //隐藏滚动条
  &::-webkit-scrollbar {
    display: none;
  }
}

.text {
  color: @colorTextTertiary;
  font-size: @fontSizeSm;
  line-height: @lineHeight;
}

.page-setting-item {
  height: 40px;
  border-radius: 3px;
  border-bottom: 1px solid @GRAY01;

  &:last-child {
    border-bottom-color: transparent;
  }
}
