@import '@/styles/color';
@import '@/styles/token';

.container {
  border-left: @lineWidth solid @colorSplit;
  padding: @paddingXs @padding;
  //隐藏滚动条
  &::-webkit-scrollbar {
    display: none;
  }
}

.select {
  width: 90px;
}

.text {
  color: @colorTextTertiary;
  font-size: @fontSizeSm;
  line-height: @lineHeight;
}
