@import '@/styles/color';

.edit-header {
  height: 60px;
  border-bottom: 1px solid @GRAY06;

  h3 {
    font-size: 18px;
    font-weight: bold;
    color: @BLANK04;
  }

  .drop-box {
    gap: 8px;
    color: @GRAY07;
    font-size: 14px;

    img {
      width: 22px;
      height: 22px;
      border-radius: 2px;
    }
  }
}
