@import '@/styles/color';

.space-box {
  gap: 8px;

  .input-number-arrow {
    width: 12px;
    height: 30px;
    background: @WHITE;
    border-radius: 6px;
    font-size: 12px;
    color: @GRAY05;

    .input-disabled {
      color: @GRAY04;
      cursor: not-allowed;
    }
  }
}
