@import '@/styles/color';

.mode-box {
  background-color: @GRAY08;

  .mode-title {
    gap: 4px;

    h3 {
      color: @BLANK14;
      font-size: 14px;
    }

    .copy-icon {
      color: @GRAY05;
    }
  }

  p {
    color: @GRAY05;
  }
}
