@import '@/styles/token';

.space-selector-container {
  display: flex;
  align-items: flex-start;
}

.space-selector {
  display: inline-flex;
  align-items: center;
  margin-top: 3px;
  height: 28px;

  .selector-btn {
    padding: @paddingXxs @paddingXs;
    border-radius: @borderRadius;
    box-sizing: border-box;
    color: @colorTextSecondary;
    font-size: @fontSizeSm;
    transition: background-color ease-in-out 0.3s;
    word-wrap: normal;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      display: inline-block;
      max-width: 82px;
      color: @colorTextSecondary;
      font-size: @fontSizeSm;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      background: @colorFillTertiary;
    }

    .selector-arrow {
      transition: transform @motionDurationFast ease;
    }

    &.open .selector-arrow {
      transform: rotate(180deg);
    }
  }
}

.space-menu {
  :global {
    .ant-dropdown-menu {
      max-height: 240px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .ant-dropdown-menu-item {
      background: transparent !important;

      &:hover {
        background: @colorFillTertiary !important;
      }

      &.ant-dropdown-menu-item-selected {
        background: transparent !important;

        &:hover {
          background: @colorFillTertiary !important;
        }
      }
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;

    .item-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 0;

      .item-name {
        color: @colorTextSecondary;
        font-size: @fontSizeSm;
        font-weight: 500;
        line-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .item-desc {
        font-size: 11px;
        color: @colorTextQuaternary;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .item-check {
      margin-left: @marginSm;
      color: @colorPrimary;
      font-size: @fontSizeSm;
    }
  }
}
