@import '@/styles/color';

.container {
  padding: 50px 24px 24px;
  font-size: 14px;
  background-color: @WHITE04;

  .header {
    margin-bottom: 4px;
    color: @BLANK11;
    font-weight: 600;
  }

  .desc {
    color: @BLANK13;
  }

  .reply-content {
    margin: 12px 0;
    color: @BLANK11;
    font-weight: 600;

    .textarea {
      color: rgba(56, 55, 67, 100%);
    }
  }

  .tips {
    color: @RED01;
    font-size: 12px;
  }

  .footer {
    text-align: right;

    .btn-disabled {
      border-color: transparent;
      color: @WHITE;
      background: @BLUE12;
    }
  }
}
