@import '@/styles/color';

.logo {
  width: 40px;
  height: 40px;
}

.add-agent {
  margin-top: 16px;
  width: 40px;
  height: 40px;
}

.divider-horizontal {
  width: 24px;
  margin: 12px 0;
  border-bottom: 1px solid @GRAY02;
}
