@import '@/styles/color';

.container {
  padding: 24px;

  h3 {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    color: @BLANK04;
  }

  .form {
    width: 260px;
  }

  .input {
    width: 140px;
  }

  .btn {
    width: 100px;
  }
}
