@import '@/styles/token';

.rightSidebar {
  width: 434px;
  padding: 0 @padding;
  border-left: @lineWidth @lineType @colorBorder;
}

.container {
  position: sticky;
  height: 100%;
  box-sizing: border-box;
  z-index: 999;

  .box {
    // margin-top: 30px;
  }

  .main-wrap {
    // padding: 30px 12px;
  }
}

@media (max-width: 768px) {
  .container {
    display: none !important;
  }
}
