.container {
  gap: 16px;
  position: sticky;
  top: 20px;
  right: 20px;
  height: calc(100vh - 20px);
  box-sizing: border-box;
  z-index: 10;

  .box {
    margin-top: 30px;
  }

  .main-wrap {
    padding: 30px 12px;
  }
}
