@import '@/styles/color';

.container {
  gap: 6px;

  .star {
    color: @RED;
  }

  .param-type {
    color: @BLUE06;
    padding: 0 4px;
    border-radius: 4px;
    background-color: @BLANK20;
  }
}
