@import '@/styles/color';
@import '@/styles/token';

.header {
  color: @colorText;
  justify-content: flex-end;
  padding: @paddingXxs @paddingSm;

  // .close {
  //   height: 20px;
  //   width: 20px;
  //   border: none;
  // }
}
