@import '@/styles/color';
@import '@/styles/token';

.user-icon {
  margin-bottom: 8px;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  &:hover {
    background: @colorBgContainer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 8%);
  }

  &.last {
    margin-bottom: 0;
  }
}
