@import '@/styles/color';
@import '@/styles/token';

.user-icon {
  margin-bottom: @marginXs;
  color: @navFirstMenuTextSecondary;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;

  .active-icon-container {
    display: flex;
    width: 40px;
    height: 40px;
    padding: @paddingXs;
    justify-content: center;
    align-items: center;
    border-radius: @borderRadius;
    transition: all 0.3s ease;
  }

  &:hover {
    color: @colorTextSecondary;

    .active-icon-container {
      background: @navItemHoverBg;
      box-shadow: @navShadow;
    }
  }

  &.last {
    margin-bottom: 0;
  }

  :global {
    .ant-badge {
      color: @navFirstMenuTextSecondary;
      transition: color 0.3s ease;
    }

    .ant-badge-count {
      top: 10px;
      right: 10px;
      background: @colorError;
      color: @colorWhite;
      border: 1px solid @navBorderColor;
    }

    sup {
      line-height: 12px !important;

      bdi {
        margin-top: 0 !important;
      }
    }

    .ant-badge-multiple-words {
      //line-height: 12px;
      padding: 0 2px !important;
      top: 8px;
      right: 8px;
      font-size: 10px;
    }
  }

  // 消息通知圈点特殊样式
  &:hover :global .ant-badge {
    color: @navFirstMenuText;
  }
}
