@import '@/styles/color';

.title {
  line-height: 32px;
  color: @BLANK13;
  font-size: 12px;
}

.content-box {
  //background-color: @WHITE;
  //padding: 10px;
  border-radius: 4px;
  //border: 1px solid @GRAY01;

  .custom-style-editor {
    border-width: 0.5px;
    min-height: 200px;
    max-height: 400px;
  }
}

.add {
  color: @BLANK03;
  font-size: 12px;
}

.input {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

//:global {
//  .ProseMirror-focused {
//    border: none;
//    outline: none;
//  }
//}
//
//.edit-header {
//  gap: 10px;
//}
//
//.divider-line {
//  height: 1px;
//  margin: 20px 0;
//  background-color: @GRAY01;
//}
