@import '@/styles/color';

.header-title {
  margin-bottom: 8px;
  color: @BLANK13;
  font-size: 12px;
}

.title-box {
  height: 26px;
  margin-top: 10px;
  margin-bottom: 4px;

  .title {
    color: @BLANK13;
    font-size: 12px;
  }
}

.content-box {
  border-radius: 4px;

  .custom-style-editor {
    border-width: 0.5px;
    min-height: 200px;
    max-height: 400px;
  }
}

.input {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.icon-input-prefix {
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
}

.icon-input-suffix {
  margin-inline-end: 0 !important;
}
