@import '@/styles/color';
@import '@/styles/token';

.manual-container {
  gap: @marginXs;
  width: 100%;

  .manual-box {
    padding: @paddingXxs @paddingXs;
    border-radius: @borderRadius;
    box-sizing: border-box;
    color: @colorTextSecondary;
    font-size: @fontSizeSm;
    transition: background-color ease-in-out 0.3s;
    word-wrap: normal;
    white-space: nowrap;
    border: @lineWidth solid @colorSplit;

    &:hover {
      background-color: @colorPrimaryBg;
    }

    &.active {
      color: @colorPrimary;
      font-weight: @fontWeightStrong;
      background-color: @colorPrimaryBg;
    }
  }
}
