@import '@/styles/color';
@import '@/styles/token';

.container {
  min-height: 0;
  background-color: #fff;

  .content-wrapper {
    flex: 1;
    min-width: 0;
    height: 100%;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
