@import '@/styles/color';

.container {
  padding: 0 5px;

  .main-container {
    flex: 1;
    padding: 16px 20px;

    .title {
      font-size: 18px;
      font-weight: bold;
      color: @BLANK04;
    }

    .desc {
      height: 60px;
      margin-top: 4px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: @BLANK07;
      white-space: pre-wrap;
      word-break: break-word;
    }

    .request-select {
      width: 98px;
      margin-right: 16px;
    }

    .table-wrap {
      border-radius: 5px;
      border: 1px solid @BLANK19;
      margin: 10px 0;
    }

    .select {
      width: 120px;
    }
  }

  .empty-container {
    background-color: white;
    padding: 16px 20px;
    margin: 16px 0;
  }
}
