@import '@/styles/color';

.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 10px 0;

  .chat-wrapper {
    padding-bottom: 30px;

    .loading {
      color: @BLUE08;
    }

    .chat-inner {
      background-color: @WHITE;
    }

    .suggest-item {
      background-color: @WHITE;
    }
  }
}

.chat-input {
  position: sticky;
  bottom: 20px;
  z-index: 10;
}
