@import '@/styles/color';
@import '@/styles/token';

.title-box {
  background-color: @pageContainerBg;

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 12px 24px;
    box-sizing: content-box;
  }

  .title {
    margin-bottom: 0;
  }
}

.main-content {
  height: 100%;
  position: relative;
  // min-width: 800px;
  width: 100%;

  .main-content-box {
    //隐藏滚动条
    &::-webkit-scrollbar {
      display: none;
    }

    padding: @padding @padding 0;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .chat-wrapper {
    padding-bottom: 40px - 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    .loading {
      color: @colorPrimary;
    }

    .chat-inner {
      background-color: transparent;
    }

    .suggest-item {
      background-color: @colorBgContainer;

      &:hover {
        background-color: @colorBgContainer;
      }
    }
  }
}

.chat-input-container {
  position: sticky;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: @borderRadiusLg @borderRadiusLg 0 0;
  padding-bottom: 40px;
  width: 100%;
}

.agent-sidebar {
  position: sticky;
  margin: 0;
}

@media (max-width: 768px) {
  .agent-sidebar {
    display: none;
  }
}

/* 当屏幕宽度小于等于 720px 时应用的样式 */
@media screen and (max-width: 720px) {
  .main-content {
    width: 100%;
  }
}
