@import '@/styles/color';
@import '@/styles/token';

.title-box {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: @colorBgContainer;
  border-radius: 12px;

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 16px 24px;
    box-sizing: content-box;
  }

  .title {
    margin-bottom: 0;
  }
}

.main-content {
  height: 100%;
  overflow-y: auto;
  position: relative;
  min-width: 800px;
  width: 100%;

  //隐藏滚动条
  &::-webkit-scrollbar {
    display: none;
  }

  .main-content-box {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .chat-wrapper {
    padding-bottom: 40px - 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    .loading {
      color: @colorPrimary;
    }

    .chat-inner {
      background-color: @colorBgContainer;
    }

    .suggest-item {
      background-color: @colorBgContainer;

      &:hover {
        background-color: @colorBgContainer;
      }
    }
  }

  .chat-input-container {
    position: sticky;
    bottom: 0;
    z-index: 10;
    padding-bottom: 40px;
    background-color: @colorBgContainer;
  }
}

/* 当屏幕宽度小于等于 720px 时应用的样式 */
@media screen and (max-width: 720px) {
  .main-content {
    width: 100%;
  }
}
