.container {
  position: relative;
  padding: 26px 26px 0 22px;

  .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 520px;
    line-height: 80px;
    background-color: #f3f5fa;
  }
}
