@import '@/styles/color.less';
@import '@/styles/token.less';

.container {
  position: relative;
  padding: 26px 26px 0 22px;

  .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    background-color: @colorBgContainer;
    border-top: 1px solid @colorBorder;
  }
}
