@import '@/styles/color.less';

.container {
  position: relative;
  padding: 26px 26px 0 22px;

  .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    background-color: @WHITE03;
    border-top: 1px solid #e5e5e5;
  }
}
