@import '@/styles/color';

.container {
  padding: 0 30px;
  margin-bottom: 16px;
  gap: 12px;
  font-size: 14px;

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .author {
    margin-bottom: 10px;
    line-height: 22px;
    color: @GRAY05;
  }

  .chat-content {
    display: inline-block;
    line-height: 28px;
    padding: 12px 16px;
    color: @GRAY13;
    word-wrap: break-word;
    word-break: break-all;
    background-color: @WHITE04;

    &.mb-10 {
      margin-bottom: 10px;
    }

    img {
      max-width: 100%;
    }

    ol {
      padding-inline-start: 10px;
    }

    pre {
      box-sizing: border-box;
      white-space: pre-wrap;
      word-break: break-word;
      background: rgba(24, 29, 40, 80%);
      color: @WHITE;
      padding: 10px;
      border-radius: 10px;
    }
  }
}
