@import '@/styles/color';

.container {
  padding: 0 30px;
  margin-bottom: 16px;
  gap: 12px;

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .author {
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 14px;
    color: @GRAY05;
  }

  .chat-content {
    line-height: 22px;
    padding: 6px 10px;
    color: #444;
    font-size: 14px;
    background-color: @GRAY01;
  }
}
