@import '@/styles/color';
@import '@/styles/theme';

.container {
  // padding: 0 30px;
  margin-bottom: @SPACE_LG;
  gap: @SPACE_BASE;
  font-size: @FONT_SIZE_BASE;

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .author {
    margin-bottom: @SPACE_SM;
    line-height: 22px;
    color: @GRAY05;
  }

  .inner-container {
    background-color: @WHITE04;
    padding: @SPACE_BASE @SPACE_LG;
    border-radius: @BORDER_RADIUS_LG;

    .think-content {
      position: relative;
      line-height: 28px;
      padding: @SPACE_BASE 15px @SPACE_BASE 23px;
      color: #626b75;
      background-color: @CHAT_THINK_BG;
      word-wrap: break-word;
      word-break: break-all;
      transition: @ANIMATION_DURATION_SLOW background
        cubic-bezier(0.4, 0, 0.2, 1);
      margin-bottom: @SPACE_SM;
      border-radius: @BORDER_RADIUS_BASE;

      &::before {
        content: '';
        position: absolute;
        left: @SPACE_SM;
        top: @SPACE_BASE;
        bottom: @SPACE_BASE;
        width: 1px;
        background-color: @CHAT_THINK_BORDER;
        border-radius: 2px;
      }
    }
  }

  // 聊天内容
  .chat-content {
    display: inline-block;
    line-height: 28px;
    color: @GRAY13;
    word-wrap: break-word;
    word-break: break-all;

    &.user {
      padding: @SPACE_SM @SPACE_LG;
      background-color: @WHITE04;
    }

    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6 {
    //   font-weight: bold;
    //   font-size: 14px;
    //   line-height: 1.5;
    // }

    // h1 {
    //   font-size: calc(1.143 * 24px);
    // }

    // h2 {
    //   font-size: calc(1.143 * 20px);
    // }

    // h3 {
    //   font-size: calc(1.143 * 16px);
    // }

    img {
      display: inline-block;
      margin: 0 auto;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }

    // ol {
    //   padding-inline-start: 10px;
    // }

    // hr {
    //   visibility: hidden;
    // }

    // pre {
    //   box-sizing: border-box;
    //   white-space: pre-wrap;
    //   word-break: break-word;
    //   background-color: #fafafa;
    //   padding: 10px;
    //   margin: 0;
    //   overflow-x: auto;
    // }
  }

  .user-action-box {
    height: 32px;

    .copy-btn {
      color: @GRAY05;
      font-size: @FONT_SIZE_SM;

      .copy-image {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@media (max-width: @SCREEN_MD) {
  .container {
    padding: 0 3px;
  }
}
