@import 'src/styles/color';

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: transparent;

  &:hover {
    background-color: @BLANK12;
  }
}

// 手风琴
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 1px solid @GRAY01;

  &:last-child {
    border-bottom: 1px solid @GRAY01;
  }
}

.ant-collapse-header:hover {
  background-color: @GRAY01;
  border-radius: 4px;
}
