@import 'src/styles/color';

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: transparent;

  &:hover {
    background-color: @BLANK12;
  }
}

// 手风琴
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 1px solid @GRAY01;

  &:last-child {
    border-bottom: 1px solid @GRAY01;
  }
}

.ant-collapse-header:hover {
  background-color: @GRAY01;
  border-radius: 4px;
}

.tooltip-blank {
  .ant-tooltip-inner {
    color: @WHITE;
    background-color: @BLANK;
  }

  .ant-tooltip-arrow::before {
    background-color: @BLANK;
  }
}

.tooltip-white {
  .ant-tooltip-inner {
    color: @BLANK;
    background-color: @WHITE;
  }

  .ant-tooltip-arrow::before {
    background-color: @WHITE;
  }
}

// 折叠面板内容区域去掉左右padding
.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding-left: 0;
  padding-right: 0;
}

// table
.ant-table-wrapper .ant-table-thead > tr > th {
  font-size: 14px;
  color: @BLANK04;
  background: transparent;
}

.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  width: 0;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  border-bottom: none;
}

// switch 样式
.ant-switch.ant-switch-checked {
  background: @GREEN03;

  &:hover {
    background: @GREEN04 !important;
  }
}

// 上传Upload 样式
.ant-upload-wrapper .ant-upload-drag {
  background-color: transparent;
  border: none;
}

// Form.Item label字体加粗
.ant-form-vertical
  .ant-form-item:not(.ant-form-item-horizontal)
  .ant-form-item-label
  > label {
  font-weight: 600;
}

.ant-btn-variant-solid {
  background-color: #5147ff;
}

:where(.css-dev-only-do-not-override-77tu7h).ant-btn-variant-solid:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  background-color: #5147ff;
}

.ant-checkbox-disabled .ant-checkbox-inner {
  background-color: @BLUE04;
  border-color: @BLUE04;
  opacity: 0.5;

  &::after {
    border-color: @WHITE;
  }
}
