.modal-wrapper {
  width: 586px;
}

.select {
  width: 538px !important;
  margin-bottom: 16px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

.generate-name {
  font-weight: 600;
}
