@import '@/styles/color';
@import '@/styles/token';

.container {
  height: 40px;
  padding: @padding @paddingLg;
  box-sizing: content-box;
  border-bottom: @lineWidth solid @colorSplit;

  h3 {
    font-size: 20px;
    font-weight: @fontWeightStrong;
    color: @colorText;
  }

  .extra-box {
    gap: @marginXs;
    color: @colorText;

    .debug {
      border: none;
      padding: @paddingXs @paddingSm;
      font-size: @fontSizeLg;
      line-height: 24px;
      height: 24px;
      color: @colorText;
      gap: @paddingXs;
      box-sizing: content-box;

      :global {
        .ant-btn-icon {
          height: 20px;
        }
      }
    }
  }
}
