@import '@/styles/color';
@import '@/styles/token';

.row {
  padding: @paddingXs;
  margin-top: @marginXxs;
  cursor: default;
  color: @navSecondMenuTextSecondary;

  &.first {
    margin-top: 0;
  }

  &.menuItem {
    cursor: pointer;

    .name {
      color: @navSecondMenuTextSecondary;
      font-size: @fontSize;
      line-height: @fontHeightLg;
    }

    &.has-icon {
      .name {
        margin-left: @marginXs;
      }
    }
  }

  &.active {
    background-color: @colorBgContainer;
    color: @colorPrimary;
    border-radius: @borderRadius;
    box-shadow: @boxShadowTertiary;

    .name {
      color: @colorPrimary;
    }
  }

  &:hover {
    background-color: @colorBgContainer;
    border-radius: @borderRadius;
    box-shadow: @boxShadowTertiary;
    color: @colorTextSecondary;

    .name {
      color: @colorTextSecondary;
    }

    .collectIcon {
      visibility: visible;
      color: @colorTextSecondary;
    }
  }

  .icon-image {
    width: 20px;
    height: 20px;
    border-radius: @borderRadiusSm;
  }

  .collectIcon {
    color: @navSecondMenuTextSecondary;
    visibility: hidden;
    transition: background-color ease-in-out 0.2s;

    &:hover {
      background-color: @colorBgContainer;
    }
  }
}
