@import '@/styles/color';

.container {
  width: 357px;
  height: calc(100% - 40px);
  padding: 0 20px;
  margin: 20px 20px 0 0;
  box-sizing: border-box;
  background-color: @WHITE;
  border-radius: 10px;
  transition: visibility 0.3s ease, opacity 0.3s ease, width 0.5s ease;
  overflow-y: auto;
  z-index: 99;
  visibility: visible;
  opacity: 1;

  &.hide {
    width: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.fold {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 16px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
