@import '@/styles/token';

.container {
  background-color: @colorBgLayout;
}

// 移动端菜单容器隐藏时的样式
.mobile-menu-container-hidden {
  width: 0 !important;
}

.page-container {
  background-color: @colorBgContainer;
  margin: 12px 12px 12px 0;
  border-radius: 12px;
}
