@menu-width: 274px;

.mobileMenuBtn {
  position: fixed;
  top: 6px;
  left: @menu-width;
  z-index: 1000;
  transition: margin-left 0.3s;
}

.mobileMenuMask {
  flex: 1;
  background: 'transparent';
}
