@import '@/styles/token.less';

// 页面局部变量定义
@topUpBtnHeight: 26px;
@balanceContainerShadow: 0 1px 4px rgba(0, 0, 0, 5%);
@balanceContainerHoverShadow: 0 2px 8px rgba(0, 0, 0, 8%);
@topUpBtnShadow: 0 1px 4px rgba(26, 107, 255, 25%);

.credits-balance-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: @paddingXs;
    cursor: pointer;
    padding: @paddingXs @marginSm;
    border-radius: @borderRadiusLg;
    background: @colorWhite;
    box-shadow: @balanceContainerShadow;
    transition: transform 0.2s, box-shadow 0.2s;
    white-space: nowrap;
    margin-right: @padding;

    &:hover {
      transform: translateY(-1px);
      box-shadow: @balanceContainerHoverShadow;
    }

    .label {
      color: @colorText;
      font-size: @fontSizeSm;
      font-weight: @fontWeightStrong;
    }

    .balance {
      flex: 1;
      font-weight: @fontWeightStrong;
      font-size: @fontSizeLg;
      color: @navSecondMenuTextSecondary;
      text-align: left;
      margin-left: @borderRadiusXs;
    }
  }

  .footer {
    margin-top: @paddingXxs;
    font-size: @fontSizeSm;
    color: @colorTextSecondary;
    font-weight: 500;
    letter-spacing: 0.1px;
    opacity: 0.7;
  }
}
