@import '@/styles/color';

.table-container {
  :global {
    .ant-table-content .ant-table-thead > tr > th {
      padding-left: 0;
      font-size: 14px;
      color: @GRAY05;
    }

    .ant-table-content .ant-table-tbody > tr > td {
      padding: 10px 10px 10px 0;
      color: @BLANK04;
      font-size: 12px;
    }

    .ant-table-footer {
      padding: 10px 0;
      background-color: transparent;
    }
  }
}
