@import '@/styles/color';

.container {
  background-color: @WHITE03;

  .section {
    gap: 20px;
    overflow-x: hidden;

    .edit-info {
      flex: 6;
      min-width: 680px;
      background-color: @WHITE10;

      .h-line {
        width: 1px;
        height: calc(100% - 20px);
        margin-top: 10px;
        background-color: @GRAY06;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .section {
      overflow-x: auto;
    }
  }
}
