@import '@/styles/color';

.header {
  height: 48px;
  gap: 8px;
  font-size: 14px;

  .img {
    width: 24px;
    height: 24px;
    border-radius: 10px;
  }

  .title {
    color: @BLANK04;
  }

  .icon-down {
    color: @GRAY05;
  }
}
