@import '@/styles/color';

.container {
  padding: 70px 0 30px;
  box-shadow: 0 0.5px 0 @GRAY19;

  .avatar {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    user-select: none;
  }

  .title {
    margin: 25px 0;
    font-size: 18px;
    font-weight: bold;
    color: @GRAY21;
    text-align: center;
  }

  .content {
    width: 100%;
    padding: 16px 10px;
    border-radius: 10px;
    background: @WHITE16;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: @GRAY10;
    text-align: center;
  }

  .from {
    height: 22px;
    line-height: 22px;
    padding: 0 40px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: @GRAY20;
    text-align: center;
  }

  .action-box {
    gap: 10px;
    font-size: 20px;

    .collected {
      color: @YELLOW01;
    }

    .un-collect {
      color: @GRAY05;
    }
  }
}
