.editable-cell-form-item {
  margin: 0 !important; /* 取消默认的外边距 */
  padding: 0 !important; /* 取消默认的内边距 */
  height: 100% !important; /* 设置高度为100% */

  .ant-input {
    height: 28px !important;
  }
}

.add-button-style {
  margin-bottom: -10px;
}

.height-100 {
  height: 100%;

  .ant-table-wrapper {
    height: 100%;

    .ant-spin-nested-loading {
      height: 100%;

      .ant-spin-container {
        height: 100%;

        .ant-table {
          height: calc(100% - 60px);
          background: none !important;

          .ant-table-container {
            height: 100%;

            .ant-table-content {
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.ant-table-cell-fix-left {
  background: #f3f5fa !important;
}

.table-action-column-fiexd {
  opacity: 1 !important;
  background: #f3f5fa !important;
}

.pagination-style {
  padding: 10px 0;
  height: 52px;
}

.edit-table {
  .ant-table-wrapper .ant-table {
    background: none !important;
  }

  .ant-table-row {
    td {
      padding: 11px 16px !important;
    }
  }
}
