@import '@/styles/color';

.main-wrap {
  padding: 0 10px;

  .title {
    line-height: 40px;
    padding-left: 8px;
    margin-top: 20px;
    font-size: 14px;
    color: @BLUE04;
    font-weight: bold;
    border-bottom: 1px solid @WHITE15;
  }
}
