@import '@/styles/color';
@import '@/styles/token';

.container {
  overflow: hidden;
  background-color: @colorBgLayout;

  .first-menus {
    // width: 74px;
    background-color: @colorBgLayout;
    padding-top: 12px;
  }

  .nav-menus {
    // width: 200px;
    background-color: @colorBgLayout;
    box-sizing: border-box;
    border-left: @lineWidth solid @colorBorderSecondary;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out,
      padding-left 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
  }
}
