@import '@/styles/color';
@import '@/styles/token';

.container {
  overflow: hidden;
  background-color: @colorBgLayout;

  .first-menus {
    // width: 74px;
    background-color: @colorBgLayout;
    border-right: 1px solid @GRAY02;
    padding-top: 12px;
  }

  .nav-menus {
    // width: 200px;
    background-color: @colorBgLayout;
  }
}
