@import '@/styles/color.less';
@import '@/styles/token.less';

@margin-five: 5px;
@margin-ten: 10px;

.container {
  padding: @padding @padding @padding @paddingLg;

  .header-area {
    margin-bottom: @margin-five;
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: @padding;
    align-content: start;
    margin-top: @margin-ten;
  }

  @media (min-width: 1440px) {
    .main-container {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
