@import '@/styles/token';

.categoryContainer {
  padding: @paddingXs 0;
  position: relative;

  // 自定义标签页样式
  :global {
    .ant-tabs-tab {
      // 基础样式
      padding: @paddingXs;
      border-radius: @borderRadius;
      border: none;
      // font-size: 14px;
      // 未选中状态
      color: @colorTextSecondary;
      background-color: @colorWhite;
      font-size: @fontSizeLg;
      line-height: 24px;

      &:hover {
        color: @colorTextSecondary;
        background-color: @colorFillTertiary;
      }

      // 选中状态
      &.ant-tabs-tab-active {
        color: @colorPrimary;
        background-color: @colorPrimaryBg;
      }
    }

    // 标签栏容器样式
    .ant-tabs-nav {
      // margin-bottom: 0;
      // border-bottom: none;
      // background: transparent;

      &::before {
        display: none;
      }
    }
  }
}
